[2015-05-02 23:04] abednego4609 opened #1 "can't install on windows"
I run npm --save install indicative
, and got error :

![capture](https://cloud.githubusercontent.com/assets/2339672/7443050/ed24e4be-f159-11e4-8d94-842955239711.PNG)

[2015-05-03 05:08] thetutlage commented on #1
Fixed as v1.0.3

[2015-05-03 13:55] #1 closed, assigned to thetutlage

[2015-05-03 15:05] abednego4609 opened #2 "decimal rule failed to validate 10.0"
changing file rules.test.coffe line 61 from :

to

will make test failed

[2015-05-03 15:12] abednego4609 opened #3 "range not working well with decimal"
[code]

[2015-05-03 15:35] thetutlage commented on #3
Fixed and published as v1.0.4

[2015-05-03 15:38] #3 closed, assigned to thetutlage

[2015-05-03 15:49] thetutlage commented on #2
As is.js has been used to certain validation rule , it is an error with the library itself.

Raised issue for same

https://github.com/arasatasaygin/is.js/issues/122

[2015-05-03 18:19] abednego4609 opened #4 "extra pipe character introduce confusion"
accidental extra pipe character in schema declaration makes promises always rejected with empty (object/array) error objerct

[code]

[2015-05-04 05:28] thetutlage commented on #4
Thanks for pointing these out , tests for parser itself are pending , so hope things would be getting fixed by weekend

[2015-05-05 09:16] thetutlage commented on #4
Fixed and published to npm as indicative@1.0.5

[2015-05-05 12:22] #4 closed, assigned to thetutlage

[2015-05-12 06:12] #2 closed, assigned to thetutlage

[2015-06-16 03:39] closet6 opened #5 "Not getting custom messages."
When trying this:

[code]

with valMessages like this:

[code]

produces error messages like this:

[code]

in the documentation it says use validate method, but example has  "build" and "success".  Those failed as well.

[2015-06-16 03:46] closet6 commented on #5
using version: "indicative": "^1.0.8",

[2015-06-16 03:50] closet6 opened #6 "when trying to use validateAll get error"
had this line of code and it worked except the messages.

[code]

when i switched it to this:

[code]

i got this error:

[code]

version: "indicative": "^1.0.8",

[2015-06-16 04:03] thetutlage commented on #5
You provide messages to rules instead of fields , but can also combine both so below one will work for you.

This way you can have different messages for different rules on the same field

[code]

## Complete Example

[code]

[2015-06-16 04:05] thetutlage commented on #6
Show me your rules ?

[2015-06-16 10:03] #5 closed, assigned to thetutlage

[2015-06-16 15:18] closet6 commented on #6
sure

[code]

[2015-06-16 15:57] thetutlage commented on #6
Fixed this issue as of `1.0.9`

[2015-06-16 16:41] gRoberts84 opened #7 "Unhandled rejection Error"
Hey there,

Trying to use Indicative and Mongoose to validate and insert some data into MongoDB but keep on being hit with an `unhandled rejection error` exception.

[code]

It seems as soon as I call user.save, it throws:

[code]

FYI, user.validate is simply a prototype method of my mongoose model:

[code]

Am I completely missing something here?

Thanks

Gavin

[2015-06-16 16:51] closet6 commented on #5
thanks for response, this is working for me.

[2015-06-16 16:55] closet6 commented on #6
Updated it, and worked in my tests.  Thanks.

[2015-06-16 16:55] #6 closed, assigned to thetutlage

[2015-06-16 17:22] thetutlage commented on #7
What happens when you don't call the save method and console `x`

[2015-06-16 17:31] gRoberts84 commented on #7
Hey,

It spits out the data passed to validateAll.

The weird thing is that in the stack trace it refers to line 114 of validate.js. If I pass valid data the issue happens, if I pass invalid data it calls the catch callback.

I'm mobile at the moment but I'll try running save without including indicative and see how it goes.

Thanks

Gav

[2015-06-16 17:32] thetutlage commented on #7
Make sense, i am not a Mongo guy , but will install it on a Vagrant machine to test the issue

[2015-06-16 19:08] gRoberts84 commented on #7
Hey there,

Well, after removing the require and instantiation of Indicative, it works (without):

[code]

The above works nicely, and in my mongoose model, commenting out the Indicative require and instantiation fixed it.

[code]

It looks like Bluebird is conflicting however I have read that by Promisifying Mongoose, it should work.

Watch this space :)

[2015-06-16 20:30] gRoberts84 commented on #7
So.. It looks like it was my own fault... What a pleb.

Mongoose has it's own validation built in and when I was calling validate on the mongoose model object it somehow was calling it on both my prototype and the internal validation.

As soon as I changed the prototype function name and called that instead, everything worked rosey!

[code]

Thank you for your help :)

[2015-06-16 20:30] #7 closed, assigned to nobody

[2015-06-17 00:00] closet6 opened #8 "Enhancement Suggestion: Date validation with other field comparisons"
Like you do with Presence:
{
beginDate : 'future',
endDate: 'after:beginDate'
}

[2015-06-17 07:02] thetutlage commented on #8
You can easily extend indicative to add your own rules , so for this scenario.

## Method itself

[code]

## Validation

[code]

What we have done is added a new validation called `after_field` to indicative.
You add methods as camelcase and use them as underscore.

Where validation method `afterField` becomes `after_field` while consuming

[2015-06-17 08:04] #8 closed, assigned to nobody

[2015-06-18 01:28] closet6 commented on #8
thanks for the feed back i will attempt this and let you know.

[2015-07-02 06:37] Zolmeister opened #9 "500 error in docs"
This page gives me a 500 error:
http://indicative.adonisjs.com/docs/03-rules/array

Was looking for docs on validating nested structures e.g. `Joi.array().items(Joi.number())`

[2015-07-02 06:55] thetutlage commented on #9
Will fix docs links , as there are more heading towards 500.

Indicative does not handle nested structures as of now , but if you can give me a complete example of how you are expecting to validate nested rules. I will be more than happy to work on same

[2015-07-02 07:01] Zolmeister commented on #9
We currently use Joi to validate incoming API requests like so:
https://github.com/claydotio/hyperplane/blob/master/controllers/event.coffee#L44
And our schemas - https://github.com/claydotio/hyperplane/blob/master/schemas.coffee

These may contain nested structures

[2015-07-02 07:16] thetutlage commented on #9
Ok make sense , so you have nested schema and may be looking for something like below

[code]

[2015-07-02 10:04] thetutlage commented on #9
added support for nested objects as of v1.1.1

## Example

[code]

[2015-07-02 10:04] #9 closed, assigned to nobody

[2015-07-09 16:59] sculpepper opened #10 "required|array error"
When trying to validate a required array I am getting an issue. When I run the example provided in example.js cars also has the same failure. Hopefully the example makes sense.

Example:

[code]

[2015-07-09 17:25] thetutlage commented on #10
Got it , due to nested schema , it is getting broken into sub rules. Working on same

For info

In indicative you can have nested object validations , so when you pass an array it is treating it another validation layer.

[2015-07-09 17:48] sculpepper commented on #10
Thank you, exactly what I was looking for.

[2015-07-10 06:41] thetutlage commented on #10
Fixed and backed it with over 15 tests :+1:
Let me know if something else causes you issue , ideally it should not

published as v1.2.2

[2015-07-10 06:41] #10 closed, assigned to thetutlage

[2015-07-10 11:12] sculpepper opened #11 "Dynamic Array data validation"
I'm looking for an example where a dynamic array is validated. Something like below:

[code]

Thanks for any help!

[2015-07-10 12:00] thetutlage commented on #11
You can extend indicative to write your own rule , and test what are the values inside an array , i have quoted a simple example for you.

## start by writing a function for rule , which excepts some parameters passed by validation engine.

[code]

## next extend indicative and add above function and give it a name so that you can use it later.

[code]

## use above extended rule

Thumb rule is yo

[2015-07-10 16:19] sculpepper commented on #11
thank you very much.

[2015-07-10 16:19] #11 closed, assigned to nobody

[2015-07-14 17:25] mac- opened #12 "Benchmarks"
The comparisons on your benchmarks would be a lot more interesting if they just captured the `validate` methods. Benchmarking the creation of the schema object is pointless since that code would only run once in a normal application.

[2015-07-16 04:55] thetutlage commented on #12
Yes it is interesting , i wrote 2 different benchmarks in one `Indiactive` wins and in other one `Joi` wins . I will update same on website.

[2015-07-16 04:55] #12 closed, assigned to nobody

[2015-08-18 14:49] anabellaspinelli opened #13 "Getting errors one field at a time, instead of a full array of them"
Hi, I'm wondering if I'm doing something wrong here, or if Indicative is supposed to send errors one field at a time. My code is:

[code]

So if the form is empty on Submit, I'm getting the error message just for title, and then when I complete that field and re-submit, then I get an error for the empty description, and so on. Is there any way to get them all at once?

Thank you!

PS: Sorry if my

[2015-08-19 04:04] thetutlage commented on #13
Use `validateAll` method instead of `validate`

[2015-08-19 04:06] thetutlage commented on #13
Also as a quick tip you can use `dot` notation inside your scehma.

[code]

This will remove unnecessary curly braces

[2015-08-21 02:24] anabella-spinelli-olx commented on #13
Thank you!!

One more thing, is it possible to refer to the min and max values on custom error messages as with {{ field }} ?

Thanks again!

[2015-08-21 03:09] thetutlage commented on #13
Yes checkout http://indicative.adonisjs.com/docs/node-validation-messages#templating

[2015-08-21 03:09] #13 closed, assigned to nobody

[2015-08-21 04:04] anabellaspinelli commented on #13
Sorry, forgot to check if that was already in the docs. Thanks so much!
On Aug 21, 2015 12:09 AM, "Harminder Virk" notifications@github.com wrote:

[2015-09-07 22:08] gyszalai opened #14 "Escaping colon character in the format string of date_format validation rule"
I'd like to validate a string that contains time in 24h syntax
with a colon between the hours and minutes.

I tried different ways like:

[code]

Neither of them worked. Is it possible somehow?

[2015-09-08 12:50] thetutlage commented on #14
Nice catch , fixed as of version 1.2.4

[2015-09-08 12:50] #14 closed, assigned to thetutlage

[2015-09-09 07:50] gyszalai commented on #14
Thanks!

[2015-09-13 10:12] gyszalai opened #15 "Rule 'alpha' doesn't allow non-english characters"
Failing example:

[code]

[2015-09-13 22:14] thetutlage commented on #15
This is normal behaviour as alpha allows [A-Z] only , you have to write custom rule for allowing french characters

[2015-09-14 09:12] gyszalai commented on #15
Oh, thanks. I'll try writing a custom rule then.

[2015-09-14 10:39] #15 closed, assigned to nobody

[2015-10-05 21:45] rikumalminiemi opened #16 "Can't install on OS X"
When installing on OS X I get the following error:
npm ERR! indicative@1.2.4 install: `node ./node_modules/coffee-script/bin/coffee -c .`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the indicative@1.2.4 install script 'node ./node_modules/coffee-script/bin/coffee -c .'.
npm ERR! This is most likely a problem with the indicative package,
npm ERR! not with npm itself.
npm ERR! Tell the author

[2015-10-06 00:54] thetutlage commented on #16
interesting, i am on mac itself but let me check

[2015-10-06 19:32] thprapav commented on #16
same error on El Capitan using homebrew:

npm ERR! Darwin 15.0.0
npm ERR! argv "/usr/local/Cellar/node/4.1.1/bin/node" "/Users/username/.node/bin/npm" "install"
npm ERR! node v4.1.1
npm ERR! npm  v3.3.5
npm ERR! code ELIFECYCLE

npm ERR! indicative@1.2.4 install: `node ./node_modules/coffee-script/bin/coffee -c .`
npm ERR! Exit status 1
npm ERR!

[2015-10-07 03:50] thetutlage commented on #16
Fixed as of `v1.2.5`

[2015-10-07 03:50] #16 closed, assigned to thetutlage

[2015-10-07 06:19] rikumalminiemi commented on #16
Thank you very much, it's working perfectly now!

[2015-10-07 06:54] thprapav commented on #16
:+1:  Thank you!

[2015-10-07 11:15] amelon opened #17 "email validation trouble"
first of all, nice project, it makes me happy with json validation :)

My point here is I want to validate email format only if my field has data.

[code]

The problem is in this case, I get an error even if there is no data in email field.

I just want to get an error if there is data in email.

Is it possible to handle this ?

[2015-10-07 13:46] thetutlage commented on #17
yes ur use case is valid and ideally email validation should be ignoring it.

Let me check

[2015-10-07 16:24] mathiesha opened #18 "How to write a custom Method Regex validation"
Hi sorry if I am being obviously stupid, can you point in the direction of how to write a custom Regex validation? example validation should contain Alphanumeric and special characters.

[2015-10-07 16:55] thetutlage commented on #17
Fixed as of `v1.2.6`

[2015-10-07 16:55] #17 closed, assigned to thetutlage

[2015-10-10 10:49] Sicria commented on #18
+1

I really want to be able to do something like this.

[code]

[2015-10-10 14:15] thetutlage commented on #18
Will add support for custom regex

[2015-10-10 15:24] thetutlage commented on #18
Added as of `v1.2.7`

[2015-10-10 15:24] #18 closed, assigned to thetutlage

[2015-10-10 15:34] thetutlage commented on #18
Make sure to use it without quotes.

## Use it this way

[code]

Docs here http://indicative.adonisjs.com/docs/regex-validation-rules#regex

[2015-10-11 08:57] Sicria commented on #18
Thank you, much appreciated!

[2015-10-11 09:01] Sicria opened #20 "IP validation passing incorrectly"
I'm not sure if I'm doing this correctly but for some reason, this passes.

[code]

[2015-10-11 09:32] mathiesha commented on #18
Wow great thanks

[2015-10-11 09:49] thetutlage commented on #20
Yes this is not the ideal behavior, i have raised an issue https://github.com/arasatasaygin/is.js/issues/156
as indicative uses `is.js` under the hood for certain validations.

[2015-10-11 10:18] mathiesha opened #21 "Unable to use custom regex validation"
Tried using the below pattern to validate

[a-zA-Z0-9\-~!@#$%^*()_+{}:|""?`;',./[]<>&]+

Unhandled rejection TypeError: Cannot read property 'call' of undefined

[2015-10-11 10:18] thetutlage commented on #21
You can show the entire code ?

[2015-10-11 14:44] mathiesha commented on #21
Hey sorry for not being descriptive the code is as follows

[code]

Hope it is me who is doing something wrong. Thanks

[2015-10-11 15:30] thetutlage commented on #21
Are you using `v1.2.7` ? Make sure to remove indicative from node_modules and then re-install it.

[code]

[2015-10-11 15:33] thetutlage commented on #21
Okay not your mistake, parser splits rules with `|` and your regex includes one. Let me fix it

[2015-10-12 03:48] thetutlage commented on #21
For regex especially where you have `|` symbol ,  you have to define rules as an array. So in your case it will be

[code]

Also update indicative to `v1.2.8`

[2015-10-14 14:37] amelon opened #22 "multiple validation return "too many errors""
On my use case at least.

With following code

[code]

I expect result

[code]

But I get this result

[code]

As you can see errors for both validation is returned on each result.

[2015-10-14 15:06] thetutlage commented on #22
`validateAll` is an async function and re-running the function before completing the first one will not give parser the chance to clear off things.

Here you can do couple of things.

[code]

Or have 2 instances of indicative

[code]

[2015-10-14 15:08] #21 closed, assigned to thetutlage

[2015-10-14 15:23] amelon commented on #22
I think the problem is the single stack error.

You should have a new instance for each `validateAll` call and not a singleton.

As far as I understand, indicative is also a singleton (the same for Error class).

[code]

Thus I have no chance to have multiple instance of Indicative.

In fact my use case is to validate rows

[code]

Is it possible to make classes (Validator, Error, Messages) not si

[2015-10-14 15:25] thetutlage commented on #22
Even not being singleton will not help , coz you will be using same instance of `indicative` to have multiple validations running parallely not in sequence.

[2015-10-14 15:31] thetutlage commented on #22
Ideal situation will be to make an array of rows and then validate them, having validation inside a loop will is not good choice

[2015-10-14 15:51] amelon commented on #22
In node, you may have erratic problem by sharing the same state for multiple call.

I think my exemple is a simulation of simultaneous users calling validateAll at the same time.

To solve this, in `validateField`, you don't need Error class (maybe for formatting).
Just reject the error (without pushing it in the stack)

In `validateAll`, you could instanciate a new Error class.

[2015-10-14 15:55] thetutlage commented on #22
Can you have a pull request for same , i am happy to merge it as long as it passes all the tests

[2015-10-14 16:13] amelon commented on #22
oups... actually i never write coffescript.

I can try, let me check what I can do

[2015-10-14 16:14] thetutlage commented on #22
What about writing in Javascript itself, i will manage the CoffeeScript part before merge

[2015-10-15 07:55] amelon commented on #22
I made a pull request here: https://github.com/Adonis-Js/indicative/pull/23

[2015-10-15 08:06] thetutlage commented on #22
Merged as of `v1.2.9` , thanks for your efforts :+1:

[2015-10-15 08:10] thetutlage commented on #22
Added you to the contributors list

[2015-10-15 08:10] #22 closed, assigned to thetutlage

[2015-10-15 08:49] amelon commented on #22
thanks ;)

[2015-10-15 11:14] amelon opened #24 "validateAll - error not complete"
Hi,

sorry I missed the point of `async.filter` that only return the filtered list (thus only field name in error) and not the full error.

I make a new pull request to fix this issue

[2015-10-15 14:29] amelon commented on #24
Could you please make a new version with the merge?
Actually I need it in my project.

Thanks

[2015-10-15 14:53] thetutlage commented on #24
Done `v1.2.10`

[2015-10-15 14:53] #24 closed, assigned to nobody

[2015-10-25 21:57] amir-s opened #27 "required rule for integer=0"
Hi,

Assume I use the following rule for the `amount` property: `required|integer`.

`amount` is integer and it is ok to be zero, but if set to zero, it is not going to be validated by `required` rule.

indicative utilized `is.truthy`, but `is.truthy` explicitly rejects the number values equal to zero:

[code]

[2015-10-26 03:52] thetutlage commented on #27
Fixed as of `v1.3.1`

[2015-10-26 03:56] amir-s commented on #27
@thetutlage Perfect :+1:
Thanks, and keep up the great work!

[2015-10-26 03:57] thetutlage commented on #27
Thanks :)

[2015-10-26 03:57] #27 closed, assigned to thetutlage

[2015-10-29 05:14] mathiesha commented on #21
Sorry for the late reply. thanks for this

[2015-10-30 11:54] gyszalai opened #29 "Regex rule example in the documentation is incorrect"
The example in the documentation of the regex rule is as follows:

[code]

however it doesn't work this way. The correct way is the following:

[code]

that is, the slashes at the beginning and the end of the regex is not necessary.

[2015-10-30 12:51] thetutlage commented on #29
yeah my bad, will update docs

[2015-10-30 14:13] easyMaxi opened #30 "Documentation: Typo in extend example"
Hi,
http://indicative.adonisjs.com/docs/extending-indicative

I thinkv`value` should be `fieldValue` or the other way around.

[2015-10-30 14:20] easyMaxi opened #31 "Trying to redefine `Text` which is a string"
`'appData.Text': 'object',
  'appData.Text.size': 'required_if:appData.Text|integer',`
is my schema.

Am I wrong at using the module this way? My idea is to check if appData.Text is there and an object. If it's an object I need the size attribute.

`Error: Trying to redefine 'Text' which is a string
    at DotObject._fill (\node_modules\indicative\node_modules\dot-object\index.js:73:15)
    at Dot

[2015-10-30 15:58] thetutlage commented on #30
Correct, i believe docs are looking for some attention will rewrite them over weekend 😊

[2015-10-30 15:58] thetutlage commented on #31
Lemme reproduce this

[2015-11-01 10:17] thetutlage commented on #31
There are couple of issues here, first there is no `object` rule shipped with indicative. Next `size` property does not exists on a object.

You need to write custom validation rule for this, i added an example below

[code]

and then use it as `snake_case`

[code]

[2015-11-03 08:20] easyMaxi commented on #31
Oh, my bad!
I don't know why but i was sure there must be a object rule :dancer:
Thanks for the example!

But I'm not sure what you mean with `size property does not exists on a object.`. `size` is an attribute on my JSON object. (This is just a minimal running example and not my real JSON code, but I see no problem with a size attribute)

[2015-11-03 08:31] thetutlage commented on #31
Ohh make sense that u have a `size` attribute. I believe custom rule will make things less complicated

[2015-11-03 08:55] #31 closed, assigned to thetutlage

[2015-11-10 10:18] tomerb15 commented on #29
just spent 2 hours on this :)

[2015-11-10 10:26] tomerb15 opened #32 "how can i validate positive integers including 0?"
I can't get 0 to pass.

[2015-11-10 11:21] tomerb15 commented on #32
never mind, forgot to parseInt it.

[2015-11-10 11:21] #32 closed, assigned to nobody

[2015-11-10 11:30] tomerb15 opened #33 "Unhandled rejection TypeError: Cannot read property 'call' of undefined"
Hey,

The following code:

[code]

is throwing the following exception when the validation is passed:

[code]

Which is originated from validator.js:70:40:

[code]

[2015-11-10 16:24] thetutlage commented on #33
There is a typo `text:'requires|string'` has to be `text:'required|string'`

[2015-11-11 09:51] tomerb15 commented on #33
great catch, thanks!

[2015-11-11 09:51] #33 closed, assigned to nobody

[2015-11-20 03:32] bron10 opened #34 "While using indicative.extend, even if the second argument of custom message is provided it still uses the default one"
My code :

[code]

possibly it is because,

[code]

this.initiate(messages) clears the extended custom message and uses the default one.
Let me know if something is incorrect from my side.
Thankx in advance.

[2015-11-20 05:58] thetutlage commented on #34
yes it is known issue, i am about to release a new version this weekend

[2015-11-20 06:13] bron10 commented on #34
Thats awesome!,
On more issue, may be known to you, it is regarding the snakecase to camelcase consumption.

In above case of title rule

[code]

Incase of above code, the this.CVM[rule] is undefined the rule key is not a converted to camelCase it is as it is in this.CVM, hence the message is undefined and the default message is overridden.

Thankx in advance

[2015-11-20 06:31] bron10 commented on #34
I got one more, I know it is related to same fix, but wanted to bring to your notice  :)

[code]

Incase if I am passing both type of messages in indicative.validate and indicative.extend respectively, it overrides the custom message that is extended.

It occurs here,

[code]

currently I patched it as

[code]

which is working fine for me but would expect a proper fix.

[2015-11-20 19:52] smithb1994 commented on #20
@thetutlage You might want to consider migrating to validator.js instead of is.js... Validator is well maintained, and I'm not too sure about is.js... https://github.com/chriso/validator.js

[2015-11-20 20:12] smithb1994 opened #35 "Change param locations [suggestion]"
May I consider we change the parameter location of data and the filter from `indicative.validate(filter, data)` to `indicative.validate(data, filter)`... It makes logical sense to have the data input before the filter input, and it makes formatting a little cleaner:
FROM:

[code]

TO:

[code]

[2015-11-20 23:33] thetutlage commented on #20
leave it as i have written raw validator from stratch and will be launching new version in few hours, working on docs

[2015-11-20 23:35] thetutlage commented on #35
noted and will make required changes

[2015-11-21 04:13] m4nuC opened #36 "Publish compiled coffee script file"
I wish I wouldn't have to install coffee script on my system when installing indicative. Could the compiled file be committed ?

[2015-11-23 09:30] thetutlage commented on #36
released v2, it does not have coffee script at all

[2015-11-23 09:30] #36 closed, assigned to thetutlage

[2015-11-23 09:30] thetutlage commented on #35
done as of `v2.0.0`

[2015-11-23 09:30] #35 closed, assigned to thetutlage

[2015-11-23 09:31] thetutlage commented on #34
done as of `v2.0.0`

[2015-11-23 09:31] #34 closed, assigned to thetutlage

[2015-11-23 09:31] thetutlage commented on #30
done as of `v2.0.0`

[2015-11-23 09:31] #30 closed, assigned to thetutlage

[2015-11-23 09:32] thetutlage commented on #29
done as of `v2.0.0`

[2015-11-23 09:32] #29 closed, assigned to thetutlage

[2015-11-23 09:32] thetutlage commented on #20
removed `is.js` as of `v2`

[2015-11-23 09:32] #20 closed, assigned to thetutlage

[2015-11-23 11:49] bron10 opened #37 "Even if validation is passed, it takes me to error callback"
Here is my code,

[code]

Let me know if something is mistaken form my side

[2015-11-24 07:35] samundrak opened #38 "Problem updating to new structure"
I have used this module and there was lib folder where in message.js i have modified as my need but when i am updating module .. the whole structure is changed and i cant find lib folder can i get older structure code

[2015-11-24 07:41] thetutlage commented on #38
Why do you need to change the actual code? you can define your custom messages http://indicative.adonisjs.com/docs/2.0/basics#custom-messages

[2015-11-24 07:42] thetutlage commented on #37
Yes, you need to pass `data` as first argument and `schema` as 2nd. Checkout breaking changes on documentation http://indicative.adonisjs.com/docs/2.0/upgrade#breaking-changes

[2015-11-24 07:58] bron10 commented on #37
ok thankx :), Hope you update here too http://indicative.adonisjs.com/docs/2.0/basics#validate-rules-data-messages-  creates confusion

[2015-11-24 08:31] samundrak commented on #38
Sorry for that .. i have changed the actual code because of my need .. as i want messages as array on error and string on success .. so can i get old codes?

[2015-11-24 09:32] samundrak commented on #38
I have forked and modified branch 27 .. and compiled the coffee script .. Thanks for your time

[2015-11-24 12:21] #37 closed, assigned to thetutlage

[2015-11-30 12:45] nivv opened #39 "Install error"
My package.json

[code]

Output when I run `npm install`

[code]

My node version: `node -v v5.0.0`
My npm version: `npm -v 3.3.6`

[2015-11-30 17:12] vieks opened #40 "Proposal"
You have created the rule 'range (alias between)' used as shorthand for 'min' and 'max'
What about doing the same thing for rules 'above' and 'under' ?

eg:
'between' => 'min','max' (used for variable value length)
'range' => 'above','under'  (used for number)

In any case thank you for indicative it's really a great validation tool :+1:

[2015-11-30 17:40] #38 closed, assigned to thetutlage

[2015-11-30 20:21] vieks commented on #40
I will make a PR.
Just tell me if you are interested of or it's a stupid idea ?

[2015-11-30 20:21] #40 closed, assigned to nobody

[2015-12-01 06:23] thetutlage commented on #39
Which operating system are u on ?

[2015-12-02 03:37] vieks opened #41 "empty string is passing the 'array' rule"
[code]

[2015-12-02 03:54] vieks commented on #41
It seems this is the same thing for every rules, empty string behaves as undefined.

[2015-12-02 05:15] thetutlage commented on #41
That is true, empty values should be taken care by `required` rule, anything that is empty or undefined will skip other rules.

[2015-12-02 12:15] nivv commented on #39
@thetutlage Tested on Ubuntu 14.04 and OSX El capitan

[2015-12-02 14:41] thetutlage commented on #39
Weird, will you try to install `adonis-validation-provider` separately by saying

[code]

[2015-12-02 20:30] vieks commented on #41
This is a great behavior for undefined but not for empty string.
Indeed, undefined mean: '**no data** => field is not set by user'
whereas empty string mean: "**data exists** => field is set by user with empty string as value"

So how to handle with this empty string behavior the following validation case:
The input field named 'foo' is optional and must be an array if settled ?

My prior solution

[2015-12-08 23:21] FabienMotte commented on #39
Same error here (OSX El Capitan), even when installed separetely
Node version : `v5.1.1`
NPM version : `v3.3.12`

[2015-12-10 17:59] thetutlage commented on #39
Fixed, now `adonis-validation-provider` uses latest version of `indicative`

[2015-12-10 18:00] thetutlage commented on #41
Let me run tests with different behaviors, working on it

[2015-12-12 10:02] vieks commented on #41
nice, thank you  :+1:

[2015-12-12 20:09] thetutlage commented on #41
Released as `2.0.2` on npm

[2015-12-12 20:09] #41 closed, assigned to thetutlage

[2015-12-12 20:09] #39 closed, assigned to thetutlage

[2016-01-03 01:28] carcinocron opened #44 "404 Documentation"
http://indicative.adonisjs.com/docs/2.0/basics

[code]

[2016-01-03 03:21] thetutlage commented on #44
the documentation has been moved to a single page website http://indicative.adonisjs.com

[2016-01-04 21:50] carcinocron commented on #44
:+1:

[2016-01-06 23:35] jeremieca opened #45 "Nested schema"
Hello,

I have two questions :

First, is it possible to validate nested arrays like :
    {
        name: "hello",
        friends: [{ userId: 12, age: 23 }, { userId: 13, age: 25 }]
    }

I would like to validate objects in friends array...

Second, is it a way to embeded schema ? For instance :
     {
        name: "required",
        friends: ["Friend"]
    }

Where "Friend" refers to another

[2016-01-07 03:53] #44 closed, assigned to nobody

[2016-02-01 08:56] thetutlage commented on #45
Nope there is no support for same

[2016-02-01 08:56] #45 closed, assigned to thetutlage

[2016-02-25 03:57] Donnyofdoom opened #52 "Documentation for Basics/templating/min is misleading"
In Basics/Templating the example for "argument" is a use of min. The example implies it is a greater than check, not a length check as stated in the documentation for min.

`const messages = {
  min: '{{field}} must be over {{argument.0}} years'
}

const schema = {
  age: 'min:18'
}

const data = {
  age: 10
}`

[2016-02-25 04:02] Donnyofdoom opened #53 "'number' schema rule not listed in documentation"
In the documentation SCHEMA RULES does not list the 'number' rule or contain an example of its usage. However this rule does exist and passes for any integer or float.

[2016-02-25 04:06] Donnyofdoom opened #54 "Schema rule 'above' works incorrectly"
Given "above:0.5", the following output are returned:

-1 -> fail (expected)
0 -> fail (expected)
0.5 -> fail (expected)
0.7 -> fail (UNEXPECTED)
1 -> pass (expected)
1.7 -> pass (expected)

Seems to be interpreting the argument as an integer and then performing the greater than check.

[2016-02-25 06:39] thetutlage commented on #54
Cannot reproduce it, would be great if you can have some failing tests for same

[2016-02-25 06:43] #52 closed, assigned to thetutlage

[2016-02-25 07:11] Donnyofdoom commented on #54
Here's a paste of some test code. Note: It also happens without the required or number params

http://pastebin.com/rhZHax5t

Output:

PS This is after running "npm uninstall indicative" and "npm i --save indicative".

indicative@1.3.1 node_modules\indicative
├── async@0.9.2
├── is_js@0.7.6
├── coffee-script@1.10.0
├── bluebird@2.10.2
├── moment@2.11.2
├── lodash@3.10.1
└── dot-object@0.11.0 (comma

[2016-03-04 02:39] m4nuC opened #55 "Remove restriction on the `args` length"
Is there any reason for:

`validation = matchedValidation.splice(0, 1)` in `_parseValidation`

I'd need more than one argument in a certain use case.

[2016-03-04 03:11] thetutlage commented on #54
cannot reproduce

[2016-03-04 03:11] #54 closed, assigned to thetutlage

[2016-03-04 03:12] thetutlage commented on #55
can u explain the use case?

[2016-03-04 03:43] m4nuC commented on #55
Its a for an existence check, I have 2 scenarios that would need to use arguments.
1- Checking a nested document. For instance I have a `phone_number` nested document and I need to check that `phone_number.number` does not already exist.

2- In some cases I need to specify which collection need to be used. (i.e. I have a temporary collection that hold stuff that will be validated later)

I could u

[2016-03-04 18:54] thetutlage commented on #55
Okay its hard for me to imagine it. Can you share some data sample and what exactly you would like to do with it.

For example

[code]

[2016-03-05 01:12] m4nuC commented on #55
Here is what the validator looks like:

[code]

As you can see here i am using args to change the collection. But now in some instance I would also need to specify a key at where data is located in a subdocument. Let's say I am checking the `number` in the `phone_number` sub doc:

[code]

Overall is there a reason for limiting the number of argument ? Right now if I pass:
`somevalidator:arg1:arg2`

[2016-03-05 09:15] thetutlage commented on #55
I believe you can do it with `unique:arg1,arg2`. Here is the documentation for same http://indicative.adonisjs.com/#indicative-basics-rules

[2016-03-14 06:44] #55 closed, assigned to thetutlage

[2016-03-14 06:45] thetutlage commented on #53
Will update the docs :) Thanks

[2016-03-14 06:45] #53 closed, assigned to nobody

[2016-03-14 08:58] m4nuC commented on #55
That does work. Thanks!

[2016-04-11 22:06] jjshoe opened #56 "Example request"
Can you provide an example of validating with both the schema and raw validations? For example, validating both a name and telephone number.

[2016-04-24 07:45] dhesson opened #57 "Regex min max length matches not working"
Using indicative@2.0.6 in node.

I am trying to match phone numbers via regex, with my regex stating that I want at least 10 digits or more.

Schema

[code]

Data

[code]

Expected: `then` invocation; no errors.

Actual: `catch` is invoked, with errors.

If I remove the `,}` from the regex, the validation passes.  If I put in a range cap, such as `{10,20}`, the validation fails.

Here is some code

[2016-04-24 15:12] thetutlage commented on #57
The parser splits your regex definition by splitting it with `,`.

I will add an alternative way to define regex rules with some quick tests. Most probably it will be something like below.

[code]

[2016-05-01 17:21] thetutlage commented on #56
Check docs please http://indicative.adonisjs.com/

[2016-05-01 17:35] jjshoe commented on #56
That's where I started, but wasn't understanding how to combine them. There's no single example that combines both that I can see.

[2016-05-01 17:37] thetutlage commented on #56
Ideally there is no need to combine them.
What exactly you are trying to achieve? A real example with code will help.

[2016-05-01 17:44] jjshoe commented on #56
The particular use case I have in mind is specifying a way to validate an object which is then turned into a resume. Ideally this could all be specified in a schema file which could be included, but validations like phone are only available as a raw validation.

I'm not understanding how I would possibly combine the raw validations with schema, is there any way to represent a raw validation in the

[2016-05-02 05:27] thetutlage commented on #56
What you need is to extend the schema validator and add `phone` rule to it. Here are the docs http://indicative.adonisjs.com/#indicative-extending-extending-schema-validator

[2016-05-17 09:13] bron10 opened #58 "Regex for decimal number check not working"
Using indicative@2.0.6, got error `Invalid flags supplied to RegExp constructor '2})?$'`, while working on following:

[code]

[code]

Thankx in advance..

[2016-05-17 09:23] thetutlage commented on #58
It is a known issue. Indicative rules parser will break the regex. I am working to fix it.

[2016-05-17 09:24] thetutlage commented on #58
Closing as this is related to #57

[2016-05-17 09:24] #58 closed, assigned to thetutlage

[2016-05-18 03:03] whcmark opened #59 "support global / extend message"
Problem: If we wanna change default message, each time have to pass `message` value

[code]

could do something just like indicative.extend:

[code]

[2016-05-18 06:35] thetutlage commented on #59
@devmark Indicative does not maintain any state, so `messages` object needs to be passed everytime. If you want you can wrap `indicative.validate` inside your own method and let that method remove the usage of `messages` everytime.

[2016-05-18 06:35] #59 closed, assigned to thetutlage

[2016-06-04 03:13] Donnyofdoom opened #61 "Validation causes TypeError"
Using indicative 2.1.0
Was having trouble in my build after upgrading from 1.3.x and wrote a sanity script just to make sure.
http://pastebin.com/9gS1084h

Tested with all variations of validate and ValidateAll, with and without message parameter.
Every time it results in this:

As far as I can tell I've followed the new docs to the letter. Am I missing something really obvious that I failed to re

[2016-06-04 09:44] thetutlage commented on #61
Can u share some code sample for me to see

[2016-06-04 09:49] Donnyofdoom commented on #61
I did, that's what the pastebin link contains. My sanity code making sure I could reproduce the error consistently.

[2016-06-04 10:04] thetutlage commented on #61
`indicative.validate` needs `data` to be 1st and `schema` to be 2nd. http://indicative.adonisjs.com/#indicative-basics-setup

[2016-06-04 10:08] Donnyofdoom commented on #61
Ahh I see. Thank you for the clarification. The docs need updating in several places to reflect that, including in the header of the link you attached.

[2016-06-04 10:08] #61 closed, assigned to thetutlage

[2016-07-05 20:03] Sljux opened #62 "Validating dynamic keys"
How would one go about validating dynamic key values using Indicative? For example, if I'm expecting all numeric keys, but I don't know which ones. I'm would be happy to create a PR if it's necessary, some guidance would be appreciated.

[2016-07-13 14:18] Sljux opened #63 "Raw validations in Schema"
Is there a reason for not using all raw validations in schemas? For instance, `string` and `number` validations would be very appreciated.

[2016-07-13 14:25] Sljux opened #64 "Sanitization in Schema"
A lot of validation libraries support sanitization in schema. Are you planning to add this feature? A use case would be:

[code]

[2016-07-13 16:00] thetutlage commented on #64
This is wrong fundamentally.
1. How a method called `validate` can do sanitization? It's name says validate.
2. Sanitization returns a new object with sanitized data, which will be wrong fundamentally if `validate` will return a new object.

Validation methods are supposed to run a set of rules and throw error when a set of rules fails. Whereas sanitization loops over the object to return a transf

[2016-07-13 16:01] thetutlage commented on #63
There is no special reason, and won't mind merging PR's for same 😄

[2016-07-13 16:01] thetutlage commented on #62
Can u share an example for same?

[2016-07-13 16:02] Sljux commented on #64
Valid point :)

[2016-07-13 16:03] thetutlage commented on #64
Closing the issue, please feel free to create another if you have any specific questions

[2016-07-13 16:03] #64 closed, assigned to thetutlage

[2016-07-13 16:09] Sljux commented on #62
[code]

But I guess this use case is too specific to be in the library, and could be done in a custom validation.

[2016-07-13 16:16] thetutlage commented on #62
How about nesting the data inside a custom object. Below will work(not tested though)

[code]

[2016-07-14 11:33] Sljux commented on #62
That example works well validating values. Is there a way to validate keys?

[2016-07-14 11:46] thetutlage commented on #62
Nope, why would you validate keys?

[2016-07-14 12:59] Sljux commented on #62
I'm receiving dynamic payload that has to have keys in a specific form.

Something like this should work fine:

Custom validation

[code]

Usage

[code]

Output

[code]

[2016-07-24 13:08] thetutlage commented on #62
It is outside the scope of indicative

[2016-07-24 13:08] #62 closed, assigned to thetutlage

[2016-07-24 13:08] #63 closed, assigned to thetutlage

[2016-09-10 22:33] nicklaw5 opened #65 ""toDate" example is titled "toInt" in documentation"
![image](https://cloud.githubusercontent.com/assets/7908386/18413897/539b845a-77fa-11e6-8fa0-e9e5dedfe3c2.png)

[2016-09-10 23:58] nicklaw5 opened #67 "Calling `normalizeEmail()` without a second argument yields "TypeError: Cannot read property 'forEach' of undefined""
I'm using the Adonis Framework, but this is an issue related to Indicative.

As provided in Adonis' [sanitizor example](http://adonisjs.com/docs/3.0/validator#sanitizor), calling this:

[code]

Generates this error stack:

[code]

[2016-09-13 06:12] #65 closed, assigned to nobody

[2016-09-13 06:13] thetutlage commented on #67
Done in related PR

[2016-09-13 06:13] #67 closed, assigned to nobody

[2016-09-14 06:26] chanlito opened #68 "Is there a way to use a generator function instead of promise when extending the schema validation?"
If there's way please leave some tips or hints for me.

[2016-09-14 06:32] thetutlage commented on #68
You can wrap your generator function inside `co.wrap` and return it https://www.npmjs.com/package/co

[2016-09-14 06:48] chanlito commented on #68
![screenshot from 2016-09-14 13 46 51](https://cloud.githubusercontent.com/assets/15667259/18502536/d34d440c-7a81-11e6-8205-a2f2cab81842.png)

Is this good enough?

[2016-09-14 06:48] #68 closed, assigned to thetutlage

[2016-09-17 02:11] helnokaly opened #69 "equals validation problem with numbers"
The equals validation fails with numbers because it compares Number with String (1 === '1')

[code]

[code]

[code]

[2016-09-21 20:22] helnokaly opened #72 "Nullable fields"
I'm Using Lucid ORM and Indicative for validation and in my db schema I have a non required columns that defaults to **null**.

The problem is that validation fails when model is retrieved from database, because there is no way to skip null values in Indicative, only undefined are skipped when required rule is not set.

I believe non required fields should skip **undefined** or **null**, or adding

[2016-09-23 17:37] thetutlage commented on #69
Sorry for the late reply have been busy lately. I will cast the value to a number before running the validation. Thanks for reporting.

[2016-09-23 17:57] thetutlage commented on #72
I kind of don't like the approach of Laravel `nullable` and here's why.

Rules should be there to validate the piece of text and not set global states which are then read by other rules and I believe that is what Laravel is doing here.

What I think will be right is passing `allowNull` next to string.

[code]

What you think?

[2016-09-23 18:20] thetutlage commented on #72
Okay went on a different path and refactored concept of modes.

`Validator.setMode('strict')` will throw exceptions when the value is `null` or an `empty` string.

Whereas the normal will bypass these values and one must use `required` rule to validate them.

[2016-09-23 18:20] #72 closed, assigned to thetutlage

[2016-09-23 18:24] #69 closed, assigned to thetutlage

[2016-09-23 18:34] helnokaly commented on #72
Awesome ! the strict mode approach is much better. Thanks

[2016-09-23 18:37] thetutlage commented on #72
Expect `adonis-validation-provider` it to be released as `3.1.0` in couple of days

[2016-09-23 18:43] helnokaly commented on #72
Cool, great work you are doing there with AdonisJs Framework, keep it up.

[2016-09-29 19:38] hedlund opened #76 "Extended rule with camel case always shows default validation message"
Using `indicative` 2.1.1 via Adonis. It looks like the following bug has appeared again: [Issue 34](https://github.com/poppinss/indicative/issues/34).

I extend the validator with a rule named using camel case, and then use the rule with snake case. The validation itself works as expected, but the default validation message is always displayed. If i remove all camel casing/snake casing, and only u

[2016-10-10 10:19] chanlito opened #78 "Above rule: is this intentional?"
`const rules = {'number': 'above:0|under:100'};`

My validation passed when value is 0, this is not right at all.

[2016-10-10 10:21] chanlito commented on #78
Somehow it's working now.

[2016-10-10 10:21] #78 closed, assigned to nobody

[2016-10-11 10:57] #76 closed, assigned to nobody

[2016-11-16 07:31] zerr0s opened #81 "validating a field using required and regex"
Hi, forgive me for my bad english.

Is there a way to validate a field using required and regex like that:
`{
  "user": "required|alpha_numeric",
  "password": "required|alpha_numeric",
  "id": "required|[regex:^[0-9a-z\\-]+$]",
  "name": "required|[regex:^[0-9a-zA-Z\\_\\-\\.]+$]"
}`

Actually this is not working for the required tag. The regex is working well. Thanks.

[2016-11-16 08:01] zerr0s commented on #81
wowww. I was testing with the wrong schema. Finally
`"id": "required|[regex:^[0-9a-z\\-]+$]"`

is working well.

[2016-11-16 08:01] #81 closed, assigned to nobody

[2016-11-16 09:55] zerr0s opened #82 "schema regex and OR directive"
Hi, forgive me for my bad english.

The "or" directive in my regex is not working:
`"type": "['regex:^search1|search2|search3$']",`
The pipe seems to be interpreted by the indicative engine and return:
`"search2 is not defined as a validation"`

Is there another way to do this ?

[2016-12-25 21:02] Khromushkin opened #88 "args instead of ...args in /Sanitization/filters.js"
Hello @thetutlage!
Thank you for AdonisJS :)

I have just tried sanitization as it described in docs: http://adonisjs.com/docs/3.2/data-sanitization
And when i used Validator.sanitizor.toInt(request.param('id')); it caused and error 'Cannot read property '0' of undefined' related to the function toInt declaration:

/**
 * @description coverts a value to integer or returns
 * NaN
 * @method toInt

[2016-12-26 09:27] #88 closed, assigned to nobody

[2016-12-26 09:44] Khromushkin commented on #88
thank you @thetutlage for such an instant reaction! :)

[2016-12-27 08:45] ghost opened #89 "how to limit the picture width and height?"

[2017-01-04 10:19] whcmark opened #91 "":" symbol bugs"
[code]

expected:
args[0] = HH:MM:SS

result:
args[0] = HH

should escape ":" in content

[2017-01-05 10:50] thetutlage commented on #91
You can do it as an array

[code]

[2017-01-11 10:58] whcmark commented on #91
[code]

using array not help for that but help for `|` only

[2017-01-11 14:55] whcmark opened #93 "Standard style not work with regex"
standard version: `8.6.0`
node version: `7.2.1`

Maybe should a some rule to ignore regex ?

[code]

[2017-01-25 22:10] edgarbjorntvedt opened #95 "indicative.extend is broken in v2.1.0 and after"
The basic example of `indicative.extend `in https://github.com/poppinss/indicative#extending-schema-validator works in v2.0.6 but is broken in every version from v2.1.0 and after.

I get this error message after validation (in v.2.2.1)
[code]

[2017-01-26 04:34] thetutlage commented on #95
how do you define the unique rule?

[2017-01-26 07:51] edgarbjorntvedt commented on #95
I struggeled with this yesterday, and when I now completed a readable test, it passes. Sorry for blaming you for my problems :)

For the future, here is my (now green) tests:
[code]

[2017-01-26 07:51] #95 closed, assigned to nobody

[2017-02-03 19:29] farcejofre opened #96 "Unable to use in web browser environment"
Hi, I'm using Indicative 2.2.1 in a React+Webpack web app project, and I'm unable to use it for client-side validations. Webpack is not failing while building, but when using it in the browser, indicative fails requiring pope in src/Messages/index.js. Probably related to using npmlog which, of course, is not available outside a node environment.
I was finally able to use it in the browser by remov

[2017-02-04 23:51] rightaway opened #97 "How to use blacklist with space character?"
If you're trying to remove all occurrences of 'hello world' using a sanitizor, how can you do it with the blacklist sanitizor (because 'hello world' has a space in it)?

[2017-02-05 20:13] rightaway opened #98 "Allow making every field required by default"
I am setting every field to `required`, but if I miss setting it on one field I wouldn't realize it. If there would be a way to make every field required by default, and I can specify `optional` for the ones that don't need to be there, then it would make things more robust.

[2017-02-11 18:19] gpa opened #100 "All validation errors for a single value?"
`ValidateAll` does an early exit when the first validator rejects the value, is there a feature that will generate messages for all the errors?
For example:
[code]
`0!aa`:
Username must be alphanumeric
Username must be at least 6 characters long

[2017-02-23 20:19] ArmorDarks opened #105 "Is it maintained?"
Hi!

This library has some interesting syntax solutions. However, looking at Pulse, I wonder is it still maintained?

[2017-02-24 03:46] thetutlage commented on #105
Yes it is and since all the development is done, there is hardly anything else I can add to it

[2017-02-24 03:47] thetutlage commented on #100
Will add that functionality too

[2017-02-24 03:48] thetutlage commented on #98
That is not possible and it is better to be explicit with validation rules, otherwise how on the earth someone can tell which all fields are validated, since data payload can have anything.

[2017-02-24 11:25] ArmorDarks commented on #105
Thanks for reply

Hm, there seems to be 10 unresolved issues and some non-Greenkeeper PRs, so that made feeling of abandoned library...

[2017-03-08 15:23] Andreyco opened #107 "Promise should reject with Error object"
**Current behaviour:**
When validation fails, Promise is rejected with array object.

**Expected behaviour**
Instead, it should be rejected with Error object. Node happen to complain about this.

**Notes**
Rejecting with Error object would probably cause breaking change.

[2017-03-08 15:46] Andreyco opened #108 "Rule to restrict string to exact length"
If I am not mistaken, Laravel provides `size:n` rule to validate length of array and/or string.

Would be great to include such rule.

Open to PR?

[2017-03-09 05:52] thetutlage commented on #107
There is a difference between an error and an exception. The `error` object is created when an exception is thrown and developers are tend to deal with them.

Whereas validation falls in errors category, where you need a sensible object/array with custom messages, so that you can let people understand and act upon them.

The Promise spec may says that rejection should have error object, but specs

[2017-03-09 05:55] thetutlage commented on #108
Yup, also if you can add same to the raw validations aswell 👍

[2017-03-09 07:18] Andreyco commented on #107
I totally agree with you...
What I was talking about is something like this...

Custom validation error object
[code]

Validation fn
[code]

Handle validation
[code]

**Pros**
- satisfies Promise rejection by providing instance of Error as rejection reason. Node won't complain anymore (not sure whether browser does complain at all)
- easily allows things like `getAll`, `getAllFor`, `getFirstFor`,

[2017-03-09 08:57] Andreyco opened #109 "Add `numeric` rule"
Somehow, I cannot validate numeric value for, e.g, price. It could be decimal, or integer as well.

Corresponding Laravel [rule](https://laravel.com/docs/5.4/validation#rule-numeric)

[2017-03-29 21:43] Andreyco commented on #108
Gosh... totally forgot about this. Still on my list, will contribute later ;)

[2017-04-03 09:42] #98 closed, assigned to nobody

[2017-05-23 10:31] enniel opened #123 "nested arrays validation"
Validation for nested arrays ignored.

[code]

[2017-05-25 04:01] wxs77577 opened #126 "moment.js requires too many locales"
moment.js requires all locales, is there any way to decrease the size?

[2017-05-25 21:17] juan55860 opened #127 "Problem with eslint"
When I ran the tests I was experiencing some troubles with eslint example:

![image](https://cloud.githubusercontent.com/assets/7529761/26471021/8cda25fc-4165-11e7-971d-1d9328bf5e23.png)

I'll Send a PR With the solution.

[2017-05-27 05:22] tsriram opened #130 "URL validation failing for short domains"
URL validation is failing for short domains like `https://t.co` which is a valid URL. This is because the [regex](https://github.com/poppinss/indicative/blob/bd90485ad4cea1fa334f2a7f1e7019cf3345507c/src/Raw/index.js#L17) checks for a minimum of 2 characters for the domain name part. We've to probably change it to 1 I guess.

I can send a PR for that if you're okay.

[2017-05-28 08:41] thetutlage commented on #130
Yup PR is welcomed

[2017-05-30 12:55] andmagom opened #131 "Problem with to_int"
Indicative is normally used for validation and sanitize request, but to_int sanitazion is failing for strings like '**2017a1**', it's return **2017**, but in some times, We need a NaN, becuase It's may be a error typing.

I'll send a PR with the posible solution.

My PR'll fail because eslint is failing. But, You can view the code and feedback me.

[2017-06-14 14:08] rlupton20 opened #134 "indicative fails to validate `localhost` as a valid URL"
Observed on indicative v2.2.1.

URL `http://localhost/test` fails to validate, despite being a valid url. `http://localhost.localdomain/test` validates fine. I've not looked, but I suspect the url validator is looking for a fully qualified domain name.

There is an argument both ways as to whether the url validator should accept unqualified domain names - my slant would be that it should.

In a si

[2017-07-31 02:18] chanlito opened #137 "Will there be a typescript definition file?"
I checked with npm and I found that @types/indicative doesn't exist.

[2017-07-31 02:40] thetutlage commented on #137
Would you mind creaing a PR for same? Would be happy to merge it

[2017-08-02 08:08] Andreyco commented on #126
I think, it's even possible to get rid off `moment` completely. Looking at existing codebase, it's only purpose is to format date, twice.

[2017-08-04 06:19] thetutlage commented on #126
Yup, lemme see if I can do that

[2017-08-04 06:23] Andreyco commented on #126
I suggest `date-fns` package. Has very small footprint, when importing per function, e.g.
[code]

Also, would you consider bundling for browser usage? If so, I will try to reduce bundle size for better browser integration. On server, this is no brainer...

[2017-08-05 07:36] thetutlage commented on #126
I don't think that anything will stop us from using it on browser. If there are any node specific dependencies, we can get rid of them.

[2017-08-06 12:15] Andreyco commented on #126
No node specific dependencies there :) I do use it in browser. But I think bundle size could be reduced so that package leaves smaller footprint. I understand on server this is no issue at all.

[2017-08-06 15:00] thetutlage commented on #126
Yes we can start by removing moment first and then work to reduce the bundle size. I am in for that

[2017-08-06 15:02] Andreyco commented on #126
Awesome. Will look into this in next days, since I am about to use `indicative` in next project.

[2017-08-07 01:30] #137 closed, assigned to nobody

[2017-08-18 19:26] thetutlage commented on #93
Updated standard version and fixed linting issues. https://github.com/poppinss/indicative/commit/1ad133781174b5c74ae82a7567b6cf39e94c7cec

[2017-08-18 19:26] #93 closed, assigned to nobody

[2017-08-18 19:27] thetutlage commented on #89
You have to add your own rule, there is no image processing within the library.

[2017-08-18 19:27] #56 closed, assigned to thetutlage

[2017-08-18 19:28] #134 closed, assigned to nobody

[2017-08-18 19:28] #131 closed, assigned to nobody

[2017-08-18 19:29] #130 closed, assigned to nobody

[2017-08-18 19:29] thetutlage commented on #127
Fixed linting issues

[2017-08-18 19:29] #127 closed, assigned to nobody

[2017-08-18 19:29] thetutlage commented on #126
Closing, please create a PR when you start working

[2017-08-18 19:37] thetutlage commented on #123
Indicative only validates one level deep nested arrays. Mentioned in docs http://indicative.adonisjs.com/#indicative-basics-array-expressions

For now I have no plans to support nested arrays

[2017-08-18 19:37] #123 closed, assigned to nobody

[2017-08-18 19:37] thetutlage commented on #109
Share PR please

[2017-08-18 19:37] #109 closed, assigned to nobody

[2017-08-18 19:38] thetutlage commented on #108
1.

[2017-08-18 19:38] #108 closed, assigned to nobody

[2017-08-18 19:38] #105 closed, assigned to nobody

[2017-08-18 19:57] thetutlage commented on #96
Will be working towards a better build for browsers

[2017-08-18 19:57] #96 closed, assigned to nobody

[2017-08-18 20:07] #100 closed, assigned to nobody

[2017-08-18 20:44] thetutlage commented on #82
Fixed in https://github.com/poppinss/indicative/commit/26468ac2bbab6b521a764f52ac14edc560d1357e.

Docs will be out soon

[2017-08-18 20:44] #82 closed, assigned to nobody

[2017-08-18 20:44] thetutlage commented on #91
Fixed in https://github.com/poppinss/indicative/commit/26468ac2bbab6b521a764f52ac14edc560d1357e.

Docs will be out soon

[2017-08-18 20:45] #91 closed, assigned to nobody

[2017-08-18 20:45] thetutlage commented on #57
Fixed in https://github.com/poppinss/indicative/commit/26468ac2bbab6b521a764f52ac14edc560d1357e.

Docs will be out soon

[2017-08-18 20:45] #57 closed, assigned to thetutlage

[2017-08-19 09:23] thetutlage commented on #107
Ideally yes, but I am planning to add support for error formats, where you can define a format in which errors should be received.

Not sure if it will be possible to always reject with an error, since it will be dependent upon the formatted your are using.

[2017-08-19 09:23] #107 closed, assigned to nobody

[2017-08-19 09:24] thetutlage commented on #126
I pushed some changes to make indicative bit learner. I have removed dependency from `inflect` and `Q`. Kept moment for now, but happy if anyone wants to submit a PR that removes momentjs too

[2017-08-19 09:24] thetutlage commented on #97
Define a regex

[2017-08-24 12:33] Andreyco commented on #126
I moved everything from `moment` to `date-fns`, expect `dateFormat` validator which accept locale param.

https://github.com/Andreyco/indicative/commit/ee7e710e8827e07922ec970bf07298471ed4c0a4

To work with locales in `date-fns`, you have to explicitly require desired locale.

[code]

Sure, `indicative` could reexport locales provided by `date-fns` - this is no issue. Problem is breaking current p

[2017-08-29 21:13] Andreyco commented on #126
Remove all `moment` implementation, replaced with `date-fns`
https://github.com/Andreyco/indicative/commit/93729213e393f38609ed0618bddfcf54217555f8

"Unfortunately, under the hood, `dateFormat` function no longer accepts `locale` param, as it was not used nor documented at all.

@thetutlage @poppins please, provide feedback on this change

[2017-08-29 21:14] Andreyco commented on #126
Remove all `moment` implementation, replaced with `date-fns`
https://github.com/Andreyco/indicative/commit/93729213e393f38609ed0618bddfcf54217555f8

"Unfortunately", under the hood, `dateFormat` function no longer accepts `locale` param, as it was not used nor documented at all.

**Edit:**
Bundle size **before** `moment` removal: **1.1 MB**
Bundle size **after** `moment` removal: **638 kB**

`mome

[2017-08-29 21:57] Andreyco opened #140 "lodash's footprint in bundle size"
According to my measures, lodash's size is 526kb - pretty high.

I am sure, not every lodash's API are needed. Is it possible to reduce it's footprint in any way?

Similar to #126

[2017-08-30 07:03] thetutlage commented on #140
Yup, PR is welcome

[2017-09-04 21:37] Andreyco commented on #126
Related PR here #141

[2017-09-04 21:40] Andreyco commented on #140
PR in progress...

[2017-09-06 05:24] eliasisrael opened #142 "date_format with ISO 8601?"
For the life of me, I can't get this to work. Is there some trick?

[code]

won't accept:

[code]

Someone, please explain my dain bramage to me.

[2017-09-06 18:59] eliasisrael commented on #142
this version of the syntax from 3.0.0 doesn't appear to work either:

[code]

[2017-09-07 12:31] Andreyco opened #143 "Test are not passing"
[code]

[2017-09-07 12:52] Andreyco commented on #143
External `pope@1.0.3` breaks tests.
#144 fixes this issue by locking to specific version.

[2017-09-07 12:53] Andreyco commented on #143
External `pope@1.0.3` breaks tests.
#144 fixes this issue by locking to specific version.

cc @thetutlage

[2017-09-08 04:43] thetutlage commented on #143
Fixed with release of `1.0.4` in pope

[2017-09-08 04:43] #143 closed, assigned to nobody

[2017-09-08 05:20] thetutlage commented on #142
Will look into it now

[2017-09-08 16:45] eliasisrael commented on #142
Apparently, I didn't have the moment() syntax correct. This works:

myRules = {
    "dateCreated":      [
        indicative.rule('date_format','YYYY-MM-DDTHH:mm:ss.SSSZ')
    ]
)

(note the 'DD')
As a convenience, having a couple of common date formats built into the validator might be a nice-to-have.

Something like:

var myRules = {
    "dateCreated": "required|date_ISO8601"
}

[2017-09-11 10:33] Andreyco commented on #142
@eliasisrael you can create own validation rule exactly for this ;)

[2017-09-18 14:26] mohamed-hendawy opened #145 "required_when with false"
when use required_when with field it's value false it does not work

[code]

field 2 is not required if field1 value is false

[2017-09-25 15:43] onerciller opened #146 "Start date less than end date validation"
start_date less then end_date validation how i can do this

[2017-10-01 08:54] thetutlage commented on #145
Will add it

[2017-10-01 08:56] thetutlage commented on #142
Yes, creating a custom rule makes more sense

[2017-10-01 08:56] #142 closed, assigned to nobody

[2017-10-01 08:56] #97 closed, assigned to nobody

[2017-10-01 08:56] #89 closed, assigned to nobody

[2017-10-05 12:43] Andreyco commented on #126
Hello guys, possible to get response on this? Thank you.

[2017-10-05 13:12] thetutlage commented on #126
Yes @Andreyco it's my bad, I missed it. Lemme go through the PR tonight

[2017-10-05 13:13] Andreyco commented on #126
no problem at all. Thank you very much for attention.

[2017-10-08 12:37] Andreyco commented on #140
To note, I have progress made on this. If accepted in near future, would love to have it released with other PR (momentjs removal) to keep possible (but not expected) breaking changes in single release.

[2017-10-11 15:56] thetutlage commented on #140
Okay, so I have merged the `date-fns` PR.

I am thinking of having a separate branch with the frontend bundle logic in using `webpack` and then start changing the code.

This way we can track, how many bytes we are able to remove. What u think?

[2017-10-11 16:43] Andreyco commented on #140
Thanks for merge, and yes. Please create dedicated branch.

[2017-10-12 12:12] Andreyco commented on #126
Resolved via #141

[2017-10-13 12:00] #126 closed, assigned to nobody

[2017-10-15 21:55] mohamed-hendawy commented on #145
@thetutlage  thanks and i wait it :D

[2017-10-18 11:12] jan1988914 opened #147 "not work on IE 11"
the IE 11 will not show the page and throw syntax error in bundle.js

[2017-10-19 19:57] martin-badin opened #148 "Regex with char `|` not working"
Hello,

regex with char `|` inside regex not work. For example

/^(\+421|00420|0!00)[ ]?([0-9]{3})[ ]?([0-9]{3})[ ]?([0-9]{3})$/

Please your fix it. Thank you

[2017-10-21 14:08] thetutlage commented on #147
Yes, indicative is not meant to be used on browser, but we are planning to optimize it for browsers too.

[2017-10-29 01:34] mnismt opened #149 "Unique validator error"
When i use unique validator to validate email like this:

[code]

This is a return error:
[code]

[2017-10-29 07:36] thetutlage commented on #149
Should be `required|email|unique:users` You need to define the table name from which the unique validations should happen

[2017-10-29 09:44] thetutlage commented on #148
You can make use of the `rule` method.
[code]

[2017-10-29 09:46] thetutlage commented on #145
Ohh the `required_when` rule already exists. Docs here http://indicative.adonisjs.com/#indicative-schema-rules

Just search for `required_when`

[2017-10-29 11:16] thetutlage opened #150 "Sanitise causing problems when run on partial data"
_From @webdevian on April 28, 2017 12:36_

Let's say I have a schema with 3 fields:
[code]

If I want to only sanitise 2 fields (because they're the only one the user has posted), I pass them like this:

[code]
it returns:
[code]
When combined with Lucid's fill method it overwrites attributes as undefined which causes me problems when calling toJSON on it later (for passing to a view etc). Luckily

[2017-10-29 11:16] thetutlage commented on #150
_From @webdevian on May 12, 2017 12:32_

In the end I went with this solution to remove undefined and NaN values from an object before using it to fill a model instance

[code]

[2017-10-29 11:16] thetutlage commented on #150
Sorry for the late response, not sure how this issue got skipped.

Yeah sanitize method should handle this. I will fix it

[2017-10-29 11:17] #150 closed, assigned to thetutlage

[2017-10-30 06:37] mnismt commented on #149
Thanks you 👍 , it's work.

[2017-10-30 06:41] #149 closed, assigned to nobody

[2017-11-04 19:31] ansarizafar commented on #107
I totally agree with @Andreyco. Is the suggested change merged. Can I handle validation like this now.
[code]

[2017-11-07 19:24] protzi opened #152 "pre-compiled version"
Hey, could you be so kind and provide pre-compiled ES5 version of this package. Cant build application with [create-react-app](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify)

[2017-11-11 23:48] simontong opened #154 "Can't match multiple depth arrays with wildcard"
I have the following rule:
[code]
But when I post the following data:
[code]
It isn't matching the rule.

I tried running the regexp  `arrayExpressionRegex` parser rule in `src/Parser/index.js` and it appears to only match everything after `props.`.

[2017-11-12 08:25] #154 closed, assigned to nobody

[2017-11-12 08:26] simontong commented on #154
moved to here - https://github.com/adonisjs/adonis-validation-provider/issues/28

[2017-11-17 11:55] thetutlage commented on #148
Closing since no response from the issue reporter and not actionable as well

[2017-11-17 11:55] #148 closed, assigned to nobody

[2017-11-17 11:56] thetutlage commented on #152
There is a PR for that using rollup.

NOTE: This will not be the optimized version for the browsers, since we are bundling everything, in upcoming, I will be working to reduce the bundle size ( no dates yet )

[2017-11-17 11:56] #152 closed, assigned to nobody

[2017-11-17 11:57] thetutlage commented on #147
There is PR for browsers build https://github.com/poppinss/indicative/pull/153

[2017-11-17 11:57] #147 closed, assigned to nobody

[2017-11-17 11:57] thetutlage commented on #140
Here's the first level build PR https://github.com/poppinss/indicative/pull/153

[2017-11-17 11:57] #140 closed, assigned to nobody

[2017-11-19 19:23] mtamadon opened #156 "Replace field with custom name on messages"
In laravel we can change fields name (laravel calls them attributes) with custom names on messages.
ex.:
'attributes' => [
    'email' => 'E-mail address',
]
then the error message will be : "E-mail address is not right!"  I think it is better than "email is not right!"

I know that we can use custom messages (in laravel we have this option too) but I think creating custom name for fields is bette

[2017-11-25 02:01] markangelillo commented on #109
I created a PR for this - #157

Thanks for all the hard work on the project!

[2017-12-05 07:44] jan1988914 commented on #147
thank you very much

[2017-12-06 15:11] thetutlage commented on #156
I am not in favor of this, it's like too many ways to do one thing, which often leaves people why this and why that.

Also in real world apps, you will have to define custom messages, no matter what.

[2017-12-07 20:43] mohamed-hendawy commented on #145
i know that required_when rule already exists but there a bug in it  try to use it with true or false like this

[code]

when field1 is false field2 does not requierd

[2017-12-07 22:25] mohamed-hendawy opened #158 "number rule pass NaN"
good job to dd number rule but it pass if value is NaN

[2017-12-08 09:35] RomainLanz commented on #158
Hey @mohamed-hendawy! 👋

Could you please provide a failing test?

[2017-12-08 23:39] mohamed-hendawy commented on #158
let object: any = { key: 'a' };
            object.key = +object.key; // here key is NaN

            let Rules = {
                key: 'required|number'
            }
            await indicative.validateAll(object, Rules);

validation pass now

[2017-12-14 12:43] radmen opened #159 "min:1 fails to validate empty string in non-strict mode"
`min:1` rule fails to validate empty strings.
The problem occurs only in `standard` mode. In `strict` mode validation works correctly.

[2017-12-14 14:54] RomainLanz commented on #159
This is why all the file are in strict mode and you should always use strict mode.

This is more a JavaScript language thing, I don't know if @thetutlage can/wanna do something about it.

[2017-12-14 15:13] radmen commented on #159
@RomainLanz shouldn't this validator be always in strict mode? IMO this should be enough.

[2017-12-14 15:14] radmen commented on #159
BTW,

I've done this in my Adonis project however, this feature is not documented.

[2017-12-14 15:18] RomainLanz commented on #159
If you browse indicative files you can see that they all begin with `'use strict'`. We cannot do more.

Because there's no need to document this and it's out of the scope of Adonis. Strict mode is a Javascript "feature". Your application may work completely fine without being in strict mode, you just need to learn what changes will occur if you are in one mode or another.

Here's more information

[2017-12-14 15:20] radmen commented on #159
@RomainLanz I'm talking about this little thingy:

https://github.com/poppinss/indicative/blob/9bf99faafb5a553f26489a8d152ac0c2be201407/src/Validations/index.js#L30-L32

It's possible to set Indicative in `strict` mode which validates all non-undefined values.

[2017-12-14 15:27] RomainLanz commented on #159
Damnit, I was thinking you were speaking about JS Mode and not Indicative's one 😂

Forget what I said.

[2017-12-14 15:42] thetutlage commented on #159
Shouldn’t that be validated via `required` rule?

[2017-12-14 15:51] radmen commented on #159
Not always.

Given this rule:

[code]

I expect that *if* `name` is defined in data object it should be validated with `min:1`.
`required` assumes that `name` has to be defined every time.

[2017-12-14 15:58] thetutlage commented on #159
Empty string is not existy value, it works same as Javascript `if`

You must sanitize data to convert empty strings to `null`

[2017-12-14 16:07] radmen commented on #159
Yea, I know. That's the problem.

If I pass data like `{name: ''}`, `{ name: 'min:1'}` rule should fail. It should not treat empty string as *not existy* value.

[2017-12-14 16:16] thetutlage commented on #159
There are so many other people who want this to behave as undefined for so many other reasons.

Sanitizing data is the only way here

[2017-12-14 16:24] radmen commented on #159
I'm talking here only about `min` validation. Should it also apply to it? I understand that for other validations this makes sense.

I'd say that changing mode to `strict` is the only way :)

[2017-12-24 19:51] eliasisrael opened #160 "date_format is broken in 3.0.6"
This used to work prior to 3.0.6, but now it fails when validating legit values:

`    "dateCreated": [
        indicative.rule('date_format', 'YYYY-MM-DDTHH:mm:ss.SSSZ')
    ],`

[2017-12-25 06:52] thetutlage commented on #160
Can u share the value that is failing the validation

[2017-12-25 15:36] erzzo commented on #159
I've come to the same thing and agree with @radmen . For now I need to figure out how to set `strict` mode in adonjis.js.

[2017-12-25 19:17] eliasisrael commented on #160
The value of dateCreated that was rejected came from this JSON

`{ "userId": "d3fff782-785e-4281-8c48-33e1ed7fe0af", "name": "big buck bunny", "mimeType": "video/mp4", "width": 1280, "height": 720, "storage": "http://sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4", "duration": "15.01", "dateCreated": "2017-12-24T19:33:53.231Z", "lastUpdated": "2017-12-24T19:33:53.231Z", "id": "5fe665f

[2017-12-26 08:24] radmen commented on #159
@erzzo you can add it to hooks in `start/hooks.js` file:

[code]

[2017-12-26 08:49] thetutlage commented on #160
The `Z` keyword is the timezone and when indicative parses the date it converts `Z` to whatever timezone your server is on.

Internally it uses https://date-fns.org/v1.29.0/docs/format

[2017-12-26 08:50] thetutlage commented on #159
@radmen @erzzo I have been cleaning Indicative for a while and made it compatible to work in browsers.

1. It has some breaking changes.
2. You can install it using `npm i indicative@next`
3. Docs are here https://epic-albattani-83fe42.netlify.com/docs/installation

Feel free to share your feedback.

Also instead of modes new version uses `configure` method to define settings. More here https://ep

[2017-12-26 09:24] cpauwels opened #161 "Documentation link broken"
The documentation link seems to be broken. https://indicative.adonisjs.com/docs/api/validate gives a 404 error.

[2017-12-26 09:32] thetutlage commented on #161
Docs should be accessible on http://indicative.adonisjs.com/. Sorry for that, working on a new version and a new website

[2017-12-26 13:38] cpauwels commented on #161
Even from the website it seems the docs are down... I clicked on "Api Reference"

[2017-12-26 16:06] eliasisrael commented on #160
In ISO8601 dates, the Z indicates zulu timezone, i.e. GMT+0000. It's defined in the spec as such.

The way the dateFormat validator is coded now, it is rejecting a valid ISO8601 date because it's attempting to reformat the date using date-fns.

If I were to change the requested format in dateFormat to quote the 'Z' with [Z], then date-fns would change the timezone to local and the result STILL wou

[2017-12-26 18:58] thetutlage commented on #160
Yes you are right but still they are 2 things to it.

1. Formatting a date and then doing a comparison is wrong ( I will fix it )
2. Also you are expecting the `Z` to be matched as string, whereas you must provide a value for it.

So as per me

`2017-12-24T19:33:53.231+05:00` or `2017-12-24T19:33:53.231+<any-time-zone>` should work fine.

[2017-12-26 19:06] eliasisrael commented on #160
I don't have that option. I'm validating for insertion into DynamoDB, which expects the Z.

Also, Z is a valid timezone, per the ISO8601 spec. See the summary here:

http://www.cl.cam.ac.uk/~mgk25/iso-time.html#zone

[2017-12-26 20:26] thetutlage commented on #160
What do you think of this implementation?

Also this will be available in version `4.0.x`, which will be release soon

[2017-12-26 21:06] eliasisrael commented on #160
Thanks for the quick fix! I made a couple of comments on that revision, which I hope you can see. In brief: there's a typo in the comment: Z equals UTC or GMT+0000 (not +0100), and I would recommend adding a test for the ISO8601 format with fractional seconds included.

[2017-12-27 05:16] thetutlage commented on #160
Done

[2017-12-27 05:19] thetutlage commented on #160
Added to the docs too https://epic-albattani-83fe42.netlify.com/docs/dateformat

[2017-12-27 07:14] eliasisrael commented on #160
Thanks!

[2017-12-28 03:23] chanlito opened #162 "[Feature Request]: add type definition file for version 4"
Currently only v3 has type definition.

[2017-12-30 15:14] niradler opened #164 "Failed to minify the code from this file:"
Failed to minify the code from this file:

        ./node_modules/indicative/builds/main.js:1:4062

Read more here: http://bit.ly/2tRViJ9

while running react build

[2017-12-30 15:21] niradler commented on #164
https://babeljs.io/repl/ convert main.js with babel fix it

[2017-12-30 17:53] thetutlage commented on #164
Cannot understand what you really mean?

Why would you process your node_modules via babel? There are already transpiled

[2017-12-30 19:42] niradler commented on #164
step to reproduce
create-react-app.cmd validator-test
npm i indicative --save
add import Validator from 'indicative' to App.js
yarn build

/node_modules/indicative/builds/main.js:1:4062 this file isnt, there is let in this line

[2018-01-05 10:46] #161 closed, assigned to nobody

[2018-01-05 11:03] thetutlage commented on #164
Tried with this webpack config and it works fine.

[code]

Also make sure the react app uses https://www.npmjs.com/package/uglify-es

[2018-01-05 11:04] thetutlage commented on #162
I don't use Typescript much, earlier someone else contributed the Type defination file. If you want you can create a PR for same

[2018-01-10 10:10] thetutlage commented on #164
@niradler Have u tried it?

[2018-01-10 10:10] thetutlage commented on #159
Should be good with the new version

[2018-01-10 10:10] #159 closed, assigned to nobody

[2018-01-10 10:10] #160 closed, assigned to thetutlage

[2018-01-10 10:11] thetutlage commented on #158
Should be good with new release. `4.0.x`

[2018-01-10 10:11] #158 closed, assigned to nobody

[2018-01-10 10:11] #156 closed, assigned to nobody

[2018-01-10 10:15] mohamed-hendawy commented on #158
Thanks :D

[2018-01-10 10:26] radmen commented on #159
@thetutlage I'd argue with that. The new version introduces an easier way to declare strict mode. It does not solve this issue.

[2018-01-10 10:31] thetutlage commented on #159
Yeah that's true, since not everyone wants the behavior you want. So you can simply set the mode for yourself

[2018-01-10 10:41] radmen commented on #159
Yup, will do so :)

[2018-01-10 12:55] niradler commented on #164
I'm skiing in the moment, so only next week

[2018-01-20 00:10] niradler commented on #164
@thetutlage
what exactly do you need me to check ? in order to change the react config file i need to eject and i prefer not to do that.

[2018-01-20 04:11] thetutlage commented on #164
In that case in don’t think I can do much, since all works fine with a simple webpack + UglifyJs plugin, so if create react app does something different, then u need to tell me that

[2018-01-25 18:00] thetutlage commented on #164
Closing since not actionable

[2018-01-25 18:00] #164 closed, assigned to thetutlage

[2018-01-25 18:04] #145 closed, assigned to thetutlage

[2018-01-25 18:04] thetutlage commented on #145
Fixed in 4.0

[2018-01-25 18:05] thetutlage commented on #162
Closing since not actionable

[2018-01-25 18:05] #162 closed, assigned to nobody

[2018-02-01 07:46] 1415003719 opened #167 "number is not defined as a validation"
number is not defined as a validation ？

[2018-02-05 08:07] vladshcherbin opened #168 "Provide es modules build"
Currently, `umd` format is used. Since you are using rollup, it'll be great if `es` output format would be added for possible tree-shaking optimisations.

[2018-02-06 08:21] thetutlage commented on #168
100%, is there any convention that everyone agree on. Like rollup uses the `module` field from `package.json` file to use the es6 module ( if exists ). Is it same for webpack?

[2018-02-06 08:25] vladshcherbin commented on #168
@thetutlage yes, according to [docs](https://webpack.js.org/configuration/resolve/#resolve-mainfields) `module` field is resolved before `main` if exists.

[2018-02-06 08:25] thetutlage commented on #168
Cool, lemme add it

[2018-02-06 08:32] thetutlage commented on #168
Want to try it from Github and lemme know if all works fine.

I tried creating a simple example and build size dropped from `32KB -> 10KB`. But feel free to share if more optimizations can be done. ( I am not much active with build tools these days )

[2018-02-06 08:37] vladshcherbin commented on #168
@thetutlage I believe the format should be set to `es` instead of `cjs` for es modules.

[2018-02-06 12:10] RomainLanz commented on #168
Yes, also no need to uglify and minify the bundle.

[2018-02-07 13:43] abdoolly opened #169 "extend function has been removed while the documentation says it will not be removed"
indicative.extend function does not exist anymore in indicative@5.0.2

[2018-02-07 13:43] thetutlage commented on #169
Can u point to the documentation?

[2018-02-08 13:55] abdoolly commented on #169
i think it has been updated thanks
keep up the good work 👍

[2018-02-08 13:55] #169 closed, assigned to thetutlage

[2018-03-13 11:49] mcraz opened #174 "TypeError: the promise constructor cannot be invoked directly"
I get this error when I validate. No matter what data is passed. I get the same exact error.

Code
[code]

Output
[code]

[2018-03-13 12:14] mcraz commented on #174
Nevermind. I was overriding the global Promise object with bluebird. Removing that solves it.

[2018-03-13 12:14] #174 closed, assigned to nobody

[2018-03-21 23:59] Frondor opened #175 "Allow closures to be passed as sanitization rules"
(for Adonisjs)
This way, the code is more clear, and you don't necesary need to be creating service providers for one or two extra rules

[code]

[2018-03-22 05:28] thetutlage commented on #175
There is no need to create a service providers for a rule, you can simply add them inside your hooks file. I can allow closure, but then you will be writing this inline everywhere you need this sanitization rule.

Instead using `start/hooks.js` file and simply add it to the existing list.

[code]

And then use it like any other rule.

[2018-03-22 11:18] Frondor commented on #175
I wasn't aware of app hooks because this file wasn't created with the api boilerplate, now I see its in the docs! Thank you very much!

Anyway, there may be the case where you need sanitization for one specific case, in the whole app, so there's no need for code reuse and a simple closure might do the job, just don't encourage people to do it in the docs :) Also, **personally**, I feel nicer to pa

[2018-03-23 04:12] thetutlage commented on #175
No plans to add it now, will look into it later. Thanks!

[2018-03-23 04:12] #175 closed, assigned to nobody

[2018-03-30 13:27] lavanya8787 opened #176 "indicative.extend is not a function"
Indicative.extend method is not working using indicative.js

[2018-03-30 18:17] thetutlage commented on #176
Yeah it's not a method

[2018-04-02 03:51] lavanya8787 commented on #176
How can i extend custom validation rules using indicative.js. Please help, its urgent. Thank you.

[2018-04-03 03:07] jrock17 opened #177 "Pre-compiled ES5 Version"
I'm trying to use Indicative with create-react-app but getting minify errors.

After searching, it looks like you've added this via rollup. But I'm not sure how to use to install the version I need.

Is there a way to get the pre-complied version version requested here: https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-04-08 20:17] jcassee opened #178 "number and integer should probably cast to integer like boolean and date?"
The `boolean` and `date` validations accept string representations, but the `number` and `integer` validations do not. This feels like a failure of symmetry, and makes it a bit more awkward to validate query parameters in Adonis.

[2018-04-11 06:12] lavanya8787 opened #179 "How can i extend custom validation rules using indicative.js. Please help."
How can i extend custom validation rules using indicative.js. Please help, its urgent. Thank you.

[2018-04-11 08:47] thetutlage commented on #176
Please read the docs here https://indicative.adonisjs.com/docs/api/extend

[2018-04-11 08:47] #176 closed, assigned to nobody

[2018-04-11 08:47] thetutlage commented on #179
Docs here https://indicative.adonisjs.com/docs/api/extend

[2018-04-11 08:47] #179 closed, assigned to thetutlage

[2018-04-11 08:49] thetutlage commented on #178
Yup, it should. Mind sharing a PR for same?

[2018-04-11 08:50] thetutlage commented on #177
Sure! Lemme look into this

[2018-04-13 07:34] CherryDT opened #180 "Validation fails with fails()==true but messages()==[] after updating p-series dependency to 1.1.0"
We noticed that after an `npm update` our form validations started failing in a strange way - we were redirected back to the form but without any errors.

Further investigation showed that `validation.fails()` is truthy, but `validation.messages()` is an empty array, which was puzzling.

Now, after enabling breaking on caught exceptions in the debugger, we caught this exception:
[code]

Unfortunat

[2018-04-14 16:48] thetutlage commented on #180
Can you share from which version to which version, you upgrade the `indicative` or `@adonisjs/validator` package?

[2018-04-14 18:10] CherryDT commented on #180
These didn't upgrade, I believe. During `npm update`, a dependency of `indicative` - `p-series` - was updated from 1.0.0 to 1.1.0.

EDIT:
[code]

Would it possible for you to do a release `indicative@3.0.7` where you change the semver for `p-series` from `^1.0.0` to `1.0.0` (or `~1.0.0`) to prevent the upgrade to `1.1.0`?

[2018-04-15 06:39] smiley05 opened #181 "indicative.extend not working???"
Hi, Thank you for your great work and support.

When I tried the sample as shown per the docs Iam getting **"time is not defined as a validation rule"**. Please help
the following is the sample I tried. Please correct whats wrong?
var indicative = require('indicative');
const timeRegex = /([01]?[0-9]|2[0-3]):[0-5][0-9](:[0-5][0-9])?/

const timeFn = function (data, field, message, args, get) {
  r

[2018-04-15 10:42] thetutlage commented on #181
First, please format your message properly. It's hard to understand.

Also have you considered the docs? https://indicative.adonisjs.com/docs/api/extend

[2018-04-15 12:59] smiley05 commented on #181
Well thank you for your response. Yes, I followed the docs and tried the same example indicative.time=timeFn, but when I set time in the rules setting as shown, I am getting "time is not defined as a validation rule" error.
rules = {
time: 'required | time'
}

[2018-04-15 13:10] thetutlage commented on #181
Can you point me to the docs which say that you can define rules on the `indicative` object?

[2018-04-15 13:28] smiley05 commented on #181
I mean from this docs sample only -  https://indicative.adonisjs.com/docs/api/extend

[2018-04-15 13:40] thetutlage commented on #181
As per the docs you have to use the `validations` object and not `indicative`

[code]

[2018-04-16 02:41] smiley05 commented on #181
oh yes!!!  I didn't understood before, now I got it. Thank you.

[2018-04-16 04:49] eNzyOfficial opened #182 "Regex fails when using :"
Hey,

I had a quick look and saw there was an issue opened and closed as fixed. However I seem to be still getting the same problem.

[code]

Returns `Invalid flags supplied to RegExp constructor '-[a-zA-Z0-9]+)*$/'`

(On a side note, I am aware that there is the `slug` sanitizer, but I would like to check the db for uniqueness before hand, plus, it seems to add dashes between numbers, regardless

[2018-04-16 05:35] #181 closed, assigned to nobody

[2018-04-16 05:37] thetutlage commented on #182
If you will go through the docs, under `Syntax guide`, it talks about the limitations of the syntax https://indicative.adonisjs.com/docs/syntax-guide#_limitations

What you need is to use the `rule` function over a string.

[code]

[2018-04-16 06:13] eNzyOfficial commented on #182
When I had a look through the adonis docs I couldn't find anything about using rule(), could you point me in the right direction?

[2018-04-16 06:16] thetutlage commented on #182
I believe it will be same

[code]

[2018-04-16 06:24] eNzyOfficial commented on #182
Awesome, thanks!

[2018-04-16 06:24] #182 closed, assigned to thetutlage

[2018-04-21 09:44] mhemrg opened #183 "Localization"
Hi,
I know Indicative is able to show custom messages. But I think it's a good idea to have some translations for default messages.

[2018-04-21 15:52] thetutlage commented on #183
The default messages of indicative are very generic and having translations for them, doesn’t help at all. Infact increases the bundle size for no reasons

[2018-04-21 16:49] mhemrg commented on #183
You're right.

[2018-04-21 16:49] #183 closed, assigned to nobody

[2018-04-23 06:20] FerrielMelarpis opened #184 "Range validation bug when using `rule`"
#### Description
indicative returns `ENGINE_EXCEPTION` error when using `rule` to construct `range` validation

#### Code for reproducing the issue
[code]

#### Investigation
- This is probably because of the fact that I used Number instead of string for the rule parameters.
  - Using `rule('range', ['0', '5'])` works as expected since '0' is truthy.
- This line might have been the issue: https://

[2018-04-23 07:22] thetutlage commented on #184
Yup, mind creating a PR for same?

[2018-04-23 09:13] FerrielMelarpis commented on #184
@thetutlage I submitted #185. I added some test cases to catch the issue. Please check if there's something wrong with my code. Thanks!

[2018-04-28 04:08] hadihallak opened #186 "Nested validation documentation page is broken"
https://indicative.adonisjs.com/syntax-guide#_nested_data

[2018-05-02 03:11] thetutlage commented on #186
Yes, it should be https://indicative.adonisjs.com/docs/syntax-guide#_nested_data. Mind sharing a PR for same?

[2018-05-02 15:31] #186 closed, assigned to nobody

[2018-05-13 20:33] FrenchMajesty opened #188 "Invalid documentation on toBoolean sanitization"
Hello,

On the following page: https://indicative.adonisjs.com/docs/toboolean

The code snippets use `boolean` as a sanitization but it is incorrect. I tried to use it but I got an error saying `boolean is not a sanitization rule` so looking at the rest of the documentation I used `to_boolean` instead since it was consistent with the other rules and it did work.

It would be nice if someone could

[2018-05-16 07:15] RomainLanz commented on #188
Hey @FrenchMajesty! 👋

Could you make a PR for this?

[2018-05-21 17:50] moltar opened #189 "trim() sanitizer?"
I think a `trim` sanitizer would be useful to remove extra whitespace. What do you think?

[2018-05-28 03:35] #188 closed, assigned to nobody

[2018-05-28 03:36] thetutlage commented on #189
Yes, happy to add with options to remove from `left`, `right` or all whitespaces

[2018-05-28 03:36] thetutlage commented on #184
Fixed in related PR

[2018-05-28 03:36] #184 closed, assigned to nobody

[2018-05-29 13:07] moltar commented on #189
Do you want to add it or do you want a PR?

[2018-05-30 12:21] RomainLanz commented on #189
PR would be awesome! 👍

[2018-05-30 21:53] OnyekaIjeh commented on #178
I have this issue. Number and integer validation failing on correct number inputs because they're actually strings in the request.

[2018-06-05 17:33] pelevesque commented on #189
Done. https://github.com/poppinss/indicative/pull/191

[2018-06-10 01:52] #189 closed, assigned to nobody

[2018-06-13 10:39] mhemrg commented on #177
Same issue here.
The `main.js` file contains `let` and `const` keywords. With the current Babel config, it doesn't transpile them to ES5 and `creact-react-app` requires ES5.

[2018-06-14 20:04] svapreddy commented on #93
@thetutlage Still happens with `11.0.1`

[2018-06-21 21:31] pellizzetti opened #195 "dateFormat: Can't ensures date is valid when using 'DD/MM/YYYY' as a format"
## Problem

Using ``dateFormat:DD/MM/YYYY`` as rule will always fail validation.

## Behavior

If I make a request with the following data:
[code]
Using this rule:
[code]
The validation fails. I think that happens because ``raw/dateFormat.js`` -> ``date-fns/format`` is receiving a String has first parameter. Passing a Date object return the right date/format:

[code]
[JSFiddle link](https://jsfidd

[2018-06-22 04:15] thetutlage commented on #195
This is directly a shortcoming of Javascript and really hard to write a workaround for.

If you pass the raw string to the `new Date` function, it does swap the month with the date, since that is the default format for Javascript.

[code]

Do u have any suggestions?

[2018-06-22 13:09] pellizzetti commented on #195
I did not know that (I'm somewhat new to the JS ecosystem) but, yeah, I thought it wouldn't be an easy task.

Not at the moment, sorry. But next month, when I have more free time, I can give some attention to the subject and try to get some solutions.

[2018-06-22 15:52] thetutlage commented on #195
Sure, I will keep this issue opened and see if I can find something solid around it

[2018-06-28 19:25] McSneaky opened #196 "Trim sanitization is not documented at indicative.adonisjs.com"
Trim sanitization is not documented at https://indicative.adonisjs.com/

https://github.com/poppinss/indicative/blob/develop/src/sanitizations/trim.js

[2018-07-02 17:36] rapodaca opened #197 "Accepted accepts null and empty strings."
Using 5.0.5 and this schema:

    const schema = { 'foo': 'accepted' }

Validation passes for:

    const test = { foo: '' }

and

    const test = { foo: null }

Documentation says:

https://indicative.adonisjs.com/docs/accepted

False and 0 are rejected as expected.

[2018-07-06 05:30] thetutlage commented on #197
Is `const schema = { 'foo', 'accepted' }` this the correct schema syntax?

[2018-07-18 12:26] #178 closed, assigned to thetutlage

[2018-07-18 12:27] thetutlage commented on #197
Closing since not actionable and no answer from the issue reporter

[2018-07-18 12:27] #197 closed, assigned to thetutlage

[2018-07-18 12:47] #177 closed, assigned to nobody

[2018-07-18 12:48] thetutlage commented on #180
Not sure if it's still required, but I don't have much bandwidth for back porting changes.

[2018-07-18 12:48] #180 closed, assigned to thetutlage

[2018-07-18 12:49] thetutlage commented on #167
Works fine for me and sorry for the late reply. Lemme know if you are on the latest version and issue still persists

[2018-07-18 12:49] #167 closed, assigned to thetutlage

[2018-07-18 13:02] jcassee commented on #178
Thanks, @thetutlage!

[2018-07-20 00:24] taviroquai commented on #180
I just got into this problem too.

A new clone of my app, after npm install, validator stopped working as expected.
Thanks to @CherryDT a dowgrade to p-series seems to fixed the problem.

[2018-07-20 16:48] rapodaca opened #198 "Incorrect documentation on custom Formatter"
Documentation gives [this template](https://indicative.adonisjs.com/docs/formatters) for a custom formatter:

    class MyFormatter {
      constructor () {
        this.errors = []
      }

      addError (error, field, validation, args) {
        let message = error

        if (error instanceof Error) {
          validation = 'ENGINE_EXCEPTION'
          message = error.message
        }

[2018-07-26 08:09] thetutlage commented on #198
Yes, you are write, we should update the docs to reflect this. Mind creating a PR for same?

[2018-07-26 19:48] rapodaca opened #199 "validate isn't rejected when passed a string"
When a string is passed as the first argument to `validate`, the promise resolves instead of being rejected. This contrasts with the behavior when an object is passed, which is to be rejected.

This non-intuitive behavior makes it possible for some hard-to-track bugs to creep into code using the library. Is there a good reason to for this dual behavior to be present?

## Package version
5.0.5

##

[2018-07-27 05:37] thetutlage commented on #199
Passing a string to a method that accepts an object is not desired. The best we can do is throw a hard exception that an object is required.

[2018-07-27 07:48] #198 closed, assigned to nobody

[2018-08-14 10:52] mattijsbliek opened #201 "Tailwind .font-mono not being applied properly"
I see the mono font stack being applied [here](https://github.com/poppinss/indicative/blob/develop/static/_site/public/style.css), but the compiled CSS just contains the `font-family: operatormono`. If that isn’t installed on your machine, all code examples look like this:

![image](https://user-images.githubusercontent.com/2960795/44087562-8ae07bec-9fc0-11e8-8e5d-3d8eeea784de.png)

I’m not famili

[2018-08-14 11:48] RomainLanz commented on #201
It probably hasn't been published yet.

I'm pretty sure @thetutlage will do it in a while 👍

[2018-08-15 15:30] #201 closed, assigned to thetutlage

[2018-08-15 16:07] thetutlage commented on #199
Closing since no response from the issue reporter and not actionable as well

[2018-08-15 16:07] #199 closed, assigned to thetutlage

[2018-08-15 16:07] thetutlage commented on #196
Yup, the deployment was pending. Should be good now https://indicative.adonisjs.com/docs/trim

[2018-08-15 16:07] #196 closed, assigned to thetutlage

[2018-08-27 17:05] ivanguimam opened #202 "Unique multiple columns"
How do I paste a composite key as unique?

Ex: Email + platform_id

[2018-09-01 18:08] thetutlage commented on #202
Indicative doesn't have any unique rule. It is added by the `adonis-validator` (if you are using AdonisJs), for now, it only allows a single field. However, you can add your own [custom rule](https://adonisjs.com/docs/4.1/validator#_extending_validator).

[2018-09-09 03:33] CodingDive commented on #108
Any news on this? :)
Edit: Oh I just saw the max and min rule. Don't need the size rule anymore.

[2018-09-11 10:56] mcordoba opened #204 "Range validation"
It would be nice to include in the docs that range validator does not include the edge numbers.

For example if I use range:1,5 the value 1 and 5 are not valid.

I had to check in the code to figure it out.

Thank you

[2018-09-16 03:45] rostamiani opened #205 "How can I add a Unique rule?"
I need Unique rule. How can I add it?
Or how can I add it using adonis-validator?

Thanks for your perfect module

[2018-09-16 06:13] rostamiani opened #206 "Solved: ENGINE_EXCEPTION: e.hasOwnProperty is not a function"
## Package version
5.0.8

## Node.js and npm version
10.8.0, 6.2.0

## Sample Code (to reproduce the issue)
[code]

## The validation error:
`[{"message":"e.hasOwnProperty is not a function","field":"phone_number","validation":"ENGINE_EXCEPTION"}]`

[2018-09-16 09:08] rostamiani commented on #206
After debugging I found the line of the error. But cannot solve it
This is the first lines of main.js from npm package

[code]
After putting a breakpoint there, I found out that the line is executed three times.  This is the first and second time:
[code]

And the last time 'e' is my field list and does not have hasOwnProperty.
this is the last time 'e':
[code]

[2018-09-16 09:56] rostamiani commented on #206
**Solved**

In real world field list was comming from res.body in Express middleware.
The res.body is not a standard javascript object and does not have 'hasOwnProperty' method.
A solution is this:

[2018-09-17 06:34] #206 closed, assigned to nobody

[2018-09-17 06:35] thetutlage commented on #205
Read the Adonisjs docs, there’s already a unique rule

[2018-09-17 06:35] #205 closed, assigned to thetutlage

[2018-09-17 09:34] rostamiani commented on #205
Thanks. But What do I import to use that rule in indicative? Is there any example?

[2018-09-17 09:51] thetutlage commented on #205
I am not sure if you have read the docs https://adonisjs.com/docs/4.1/validator#_uniquetablename_fieldname_ignorefield_ignorevalue.

All indicative rules are preloaded in AdonisJs, since it's using the full build

[2018-09-18 03:42] rostamiani commented on #205
Do I have to import Adonis validator to use unique rule?
I'm confused. Should I do it like this? :

rules = {
    username: [
        rule('unique:users')
    ]
}

Or this:

rules = {
    username: "unique:users'"
}

Thanks

[2018-09-18 05:25] thetutlage commented on #205
Have you even read the AdonisJs docs? If yes, please share the link

[2018-09-22 04:50] rostamiani commented on #205
I'm using indicative with my Express.js app. This is not an Adonis app then I cannot use Adonis CLI to install validator.
Documentation instructions requires this:
`adonis install @adonisjs/validator`

[2018-09-22 11:59] thetutlage commented on #205
This is the information you should told at first. But anyways, you cannot use @adonisjs/validator with express, since it's written specifically for Adonis.

Also the `unique` rule relies on the database, so you have to add your own rule based upon the database you are using.

Here's the docs on extend method of indicative https://indicative.adonisjs.com/docs/api/extend

[2018-10-04 01:21] erocrizs opened #207 "Above rule always fails when using rule method with 0."
## Package version
v5.0.8

## Node.js and npm version
node: v8.12.0
npm: 6.4.1

## Sample Code (to reproduce the issue)
The `above` rule always fails when using rule method with 0.

[code]

[2018-11-26 02:28] MatiasOlivera commented on #206
I have the same problem. @thetutlage, is there any way to fix it? I am not using AdonisJS. Thanks!

[2018-12-17 00:38] jpcbarros commented on #206
I am having the same issue right now, is there any fix?

[2018-12-17 10:07] RomainLanz commented on #206
Please, create a new issue with a proper way to reproduce your issue.

[2018-12-21 18:01] Aljendro opened #209 "'equals' validator not able to handle booleans"
The 'equals' validator is not able to validate boolean values. Always validates to false and returns error.

## Package version
5.0.8

## Node.js and npm version
node: 8.10
npm: 6.5.0

## Sample Code (to reproduce the issue)
validate({ val: false }, { val: [ rule('equals', false) ]}); // throws error

[2019-02-08 19:42] marceloadsj opened #210 "Working on an Indicative React Hook!"
Hey bros. Sorry to send here, I didn't found a better channel!

@thetutlage if you want to delete this issue, np!

I'm working on a React Hook integration with this awesome library:
https://www.npmjs.com/package/react-indicative-hooks

It's on the beginning but, well, I think will be really good to use together with React.

:-)

[2019-02-12 09:58] thetutlage commented on #210
Looks nice 😄

[2019-02-12 09:58] #210 closed, assigned to nobody

[2019-02-15 08:55] ElMatella opened #212 "Is their a way to throw "not allowed" validation errors?"
Hi, thank you for this great package!

Is their a way to throw "not allowed" validation errors if some key is not present in the validation rules?

Example:

[code]

That would throw "bar is not allowed". I know that this looks more like Schema validation than data validation. Is this something achievable with indicative or should I use another library on top like `joi`?

Anyways I can't find such

[2019-02-21 18:51] AndrewJo commented on #212
I think the lack of rule dictates that you don't intend on validating on that attribute. If you know attributes you want to blacklist ahead of time, you can specify conflicting rules which will never validate:

[code]

I only use Indicative for basic input data validation. Things like attribute whitelisting is done at a controller level (or middleware level). In fact, I do something like this (thi

[2019-02-22 08:29] RomainLanz commented on #212
Hey @ElMatella, @AndrewJo! 👋

In fact, it's planned to add in a future version of the Adonis Validation Provider a way to remove key that aren't validated, this will probably add a setting in `indicative` itself to do it.

In the meanwhile, you can use the workaround provided by @AndrewJo.

[2019-02-22 09:38] ElMatella commented on #212
Hi, thanks a lot for both of your responses! I close the issue then.

[2019-02-22 09:38] #212 closed, assigned to nobody

[2019-02-27 09:55] thetutlage opened #213 "Are you using Indicative on browser?"
Indicative works on Browsers and Node.js both. However, maintaining the browser version comes with extra tasks like:

1. Monitoring the build size.
2. Offering multiple types of builds based upon user requirements.
3. Cross browser testing

Ofcourse, all the above mentioned are doable, however, if no one is using Indicative on browser, then I would like to save myself some time.

Please let me kno

[2019-03-01 13:04] marceloadsj commented on #213
I've built a react hooks package based on it:
https://github.com/marceloadsj/react-indicative-hooks

I can help with the browser support to keep it up and running!

[2019-03-01 14:18] thetutlage commented on #213
Nice! I am planning to move it to typescript. Do you think you can help me with following:

1. Create and test builds for different browsers ( high priority )
2. Have smaller/different builds like lodash.

[2019-03-01 14:43] fas3r opened #215 "new rules "default" to set default value"
Hello,

## Why this feature is required (specific use-cases will be appreciated)?
Create a new rule "default" that would set a "default value" if the field is missing in the data set or if empty.

As some field in database have already a default value that can be replaced, it could be good to have the same behaviour in indicative.

## Have you tried any other work arounds?
To fill the empty/missin

[2019-03-01 14:47] marceloadsj commented on #213
Sure! The 'lodash approach' would be nice.
I can focus on this two things, create the supported browser list and after, split the build into smaller pkgs.
Soon I send you some PRs!

[2019-03-01 14:48] thetutlage commented on #213
@marceloadsj Just wait. I am working the typescript migration stuff right now. I will give you the heads up once done 😄

[2019-03-01 14:57] marceloadsj commented on #213
Haha, okay! :smile:

[2019-03-12 09:14] magnusjt opened #216 "Add src files in build"
What do you think about adding src files to the build? I often browse library code when trying to understand the library, but with the current build setup I only get some minified code.

[2019-03-16 17:57] hlozancic opened #217 "Integer/number validation rule not working as expected for array items"
Number validation rule will not fail if you have undefined or null inside array.
And integer validation rule will not fail if you have undefined, false or null inside array.

## Package version
5.0.8

## Node.js and npm version
node: 11.6.0
npm: 6.50

## Sample Code (to reproduce the issue)
[code]

## BONUS (a sample repo to reproduce the issue)

[2019-03-25 01:34] pixelpaulaus opened #218 "validator:In fails on integers"
when validating an integer is one of...
`required|integer|in:18451,18367,18364`
It returns a fail as it is matching against a string. The submitted value is indeed a integer tho.
validator:equals works, but not validator:In

[2019-03-25 08:43] thetutlage commented on #218
Yup coz `in:18451,18367,18364` is interpreted as string. You have to use the `rule` method here.

[code]

[2019-03-25 08:45] pixelpaulaus commented on #218
hmmm, not sure that is possible in adonisjs :-(

shouldn't it see the interger requirement and match against integers?

[2019-03-25 08:46] thetutlage commented on #218
Why you think it's not possible in Adonis?

[2019-03-25 08:50] pixelpaulaus commented on #218
sorry i could not find any example of writing in the rule method you mentioned.
so i could rewrite...

`
const rules = {
      subject: 'required|string|max:200',
      department: 'required|integer|in:18451,18367,18364',
      service: 'integer',
    }
`

to be like...

`
const rules = {
      subject: 'required|string|max:200',
      department: code: [
                                       rul

[2019-03-25 09:37] thetutlage commented on #218
You can use it as follows:

[code]

[2019-03-25 09:39] pixelpaulaus commented on #218
thanks, but that is not very clear. are there any examples in the docs to do it this way?

`const validation = await validate(request.post(), rules)`

[2019-03-25 09:55] thetutlage commented on #218
Indicative docs does talk about it https://indicative.adonisjs.com/docs/syntax-guide#_limitations

[2019-03-26 07:20] thetutlage commented on #217
You need to use `required` to validate non-existing values. Every validation method is created in a way to test only existing values, which makes them flexible to be used with optional values as well.

So it has to be

[code]

[2019-03-26 07:20] #217 closed, assigned to thetutlage

[2019-03-26 08:22] hlozancic commented on #217
Yeah,  but what if you want this behaviour (if empty array is valid input):

[code]

So, it's not possible to have this logic? I want user to be able to send empty array or if he is sending items inside, items must be integers.

[2019-04-08 03:10] jettcalleja opened #220 "When will the new version be published?"

[2019-04-08 05:36] thetutlage commented on #220
Soon. Working on the docs and the new homepage. I am bad at designing, so I have to re-design the homepage 30 times before it can go live :)

[2019-04-08 09:38] padinko opened #221 "Min/Max for numeric/files"
Min and Max validators should compare numeric values when value is numeric, or file size when value is file. Laravel documentation:

## Package version
`5.0.8`

## Node.js and npm version
node `10.15.3`
npm `6.9.0`

## Sample Code (to reproduce the issue)
[code]

This example on data `{ offset: 0 }` returns OK, but zero is below min value. Maybe this validators should check previous validators and

[2019-04-09 12:09] wmtamit opened #222 "escape replace word"
if i try to use  escape in name and i write the name like this s>?bi so give me a result like this S Gt Bi .

[2019-04-10 04:42] thetutlage commented on #222
What should be the output?

[2019-04-12 06:02] chanlito commented on #220
Waiting for it as well 😅

[2019-04-12 07:51] wmtamit commented on #222
output :-  s?bi
in [indicative](https://indicative.adonisjs.com/docs/escape) doc give  escape remove <,> but my cash it don't give output like this

[2019-04-18 10:18] padinko opened #223 "toNumber sanitizer"
## Why this feature is required (specific use-cases will be appreciated)?
API can get real number, I need to Number.parseFloat() in controller instead of validator like in toInt sanitizer

[2019-04-27 15:41] ansarizafar opened #224 "email is not exported by 'indicative/builds/validations'"
I am trying to import email and other validations like this
[code]
but I am getting this error "email is not exported by  'indicative/builds/validations'"
Please help me to resolve this issue.

[2019-04-30 08:22] auloin opened #225 "Since unset fields are evaluated as null by pope, null should be skippable"
The ```prop``` function from ```pope``` evaluates unset fields as null instead of undefined which gives unexpected result in the validation. This happens when in strict mode.
## Package version
5.0.8

## Node.js and npm version
node: v11.7.0
npm: 6.9.0

## Sample Code (to reproduce the issue)
[code]
### Result
[code]
At first look you would believe that ```name``` is doing what's expected, skipped

[2019-05-16 17:41] begueradj opened #226 "Bug Adonisjs Indicative: dateFormat:'YYYY-MM-DD HH:mm:ss' always invalid"
## Problem
`dateFormat:'YYYY-MM-DD HH:mm:ss'` never gets validated unless I remove `HH:mm:ss` or keep only: `YYYY-MM-DD HH`.

The exact error message I see in the console:

## Sample code
[code]
## Package version
Current

## Node.js and npm version
npm: 6.9.0
Node.js: 11.8.0
AdonisJs: 4.1.0

## BONUS (a sample repo to reproduce the issue)
[Link](https://github.com/begueradj/indicative-dateformat)

[2019-05-17 09:31] AleksandarSavic95 commented on #108
For anyone coming from Google, You can use Laravel's [`'size:N'` rule](https://laravel.com/docs/5.3/validation#rule-size):

Example: https://stackoverflow.com/a/56183514/2101117

[2019-05-27 07:41] RomainLanz commented on #226
Hey @begueradj! 👋

This rule is well tested: https://github.com/poppinss/indicative/blob/develop/test/node/validations.spec.js#L421

If you believe there's a bug, could you please create a test case that fail?

[2019-06-09 05:29] begueradj commented on #226
There is at least [this test ](https://github.com/poppinss/indicative/blob/develop/test/node/validations.spec.js#L537)that covers this case. However the demo I shared shows there is a problem with `dateFormat()`. Actually this was asked as a question on the forum, this means an other user stumbled on the exact same issue

[2019-06-09 13:56] woodgates opened #227 "Regex rule not working rigth"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

- Lots of raised issues are directly not bugs but instead are design decisions taken by us.
- Make use of our [forum](https://forum.adonisjs.com/), or [discord server](https://discord.me/adonisjs), if you are not sure that you are reporting a bug.
- En

[2019-07-02 22:39] webNeat commented on #227
Hello @woodgates
I tried to reproduce your issue using the following code
[code]
but when run, it fails with the following error
[code]
So the regex rule seems to work fine.

Can you please give us more details about your setup? I am just curious about what caused it to pass in your case!

[2019-07-02 22:50] webNeat commented on #226
The [Limitations section in the docs](https://indicative.adonisjs.com/docs/syntax-guide#_limitations) says:

So you should rewrite your code as
[code]

[2019-07-03 09:53] begueradj commented on #226
I read that section but I guess I did not take it seriously. I did not try your solution but I believe it will work. Thank you very much for the feedback. I will try it ASAP. @webNeat

[2019-07-03 13:27] woodgates commented on #227
Please close the issue. The problem was another and it was solved in oher post.

Jorge Yoma R.
P: +56 9 3439 4242<tel:+56%209%203439%204242>
[LinkedIn]<https://link.getmailspring.com/link/EE070156-A761-4E95-A6A9-66555F130F64@getmailspring.com/0?redirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fjorge-yoma-a6120517&recipient=cmVwbHkrQUJMTE9FSEM0TllPSVpRTUJMVU5HRE4zRkVIWVpFVkJOSEhCV0RQWE1VQHJlcGx5LmdpdG

[2019-07-07 18:03] thetutlage commented on #168
Closing, since the newer releases are not focused on browsers anymore

[2019-07-07 18:03] #168 closed, assigned to thetutlage

[2019-07-07 18:03] #146 closed, assigned to thetutlage

[2019-07-07 18:07] #202 closed, assigned to thetutlage

[2019-07-07 18:12] thetutlage commented on #204
Fixed in https://github.com/poppinss/indicative-rules/commit/0480c8f48d322b352c423e9c395098865bcc9cac

[2019-07-07 18:12] #204 closed, assigned to nobody

[2019-07-07 18:17] thetutlage commented on #215
Validation rules are not meant to set default values. Sorry, this is out of the scope of the library

[2019-07-07 18:17] #215 closed, assigned to nobody

[2019-07-07 18:18] #218 closed, assigned to thetutlage

[2019-07-07 18:19] thetutlage commented on #221
Sorry for the late reply. What you are really looking for is the `above` rule

[2019-07-07 18:19] #221 closed, assigned to nobody

[2019-07-07 18:21] thetutlage commented on #222
Can you share the exact code. I think you are also using the `slug` sanitization rule and that is converting `>` to `GT`

[2019-07-07 18:21] #226 closed, assigned to nobody

[2019-07-07 18:22] #227 closed, assigned to nobody

[2019-07-08 05:12] thetutlage commented on #225
I don't see where name is stringified and becomes `"null"`.  I understand the point you are making, but not sure where this type conversion is happening?

[2019-07-08 05:13] thetutlage commented on #223
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [forum](https://forum.adonisjs.com

[2019-07-08 05:13] #223 closed, assigned to nobody

[2019-07-08 05:30] thetutlage commented on #195
After looking into multiple ways, I hardly think, there is any way to work around this issue. If you are still looking for a solution, then feel free to open the issue and discuss ways around it

[2019-07-08 05:30] #195 closed, assigned to thetutlage

[2019-07-08 05:32] thetutlage commented on #209
The newer version fixes this issue and here is a test case for same https://github.com/poppinss/indicative-rules/commit/8181e1829057d453bbb577306fc06afd3403bbfd#diff-ea3975cbc35ce1eed69d5822445f4b6aR61

[2019-07-08 05:32] #209 closed, assigned to thetutlage

[2019-07-08 06:58] wmtamit commented on #222
[code]

i use escape like this

[2019-07-08 07:44] auloin commented on #225
I don't understand the architecture of the new version yet but here is where it's happening in the old version: https://github.com/poppinss/indicative/blob/5.0.8/src/validations/min.js

```get(data, field)``` => returns ```null```
```Array.isArray(fieldValue) ? fieldValue : String(fieldValue)``` => returns ```"null"```

[2019-07-08 09:09] thetutlage commented on #225
Yup, this has been fixed. Also, I have added tests around same to ensure that it is not a problem anymore. https://github.com/poppinss/indicative-rules/commit/b85df9ebb8225eddaf1f0d2c1a415a562b32075e

[2019-07-08 09:09] #225 closed, assigned to nobody

[2019-07-08 09:12] thetutlage commented on #222
Added a test for same in the newer version and seems to be working as expected. https://github.com/poppinss/indicative-rules/commit/937733dcff63e5cc20382ceda145c9873e036734

[2019-07-08 09:12] #222 closed, assigned to thetutlage

[2019-07-09 19:41] thetutlage commented on #224
Not supported in newer release at all https://github.com/poppinss/indicative/releases/tag/v7.2.0

[2019-07-09 19:41] #224 closed, assigned to nobody

[2019-07-09 19:41] thetutlage commented on #220
Released https://github.com/poppinss/indicative/releases/tag/v7.2.0

[2019-07-09 19:41] #220 closed, assigned to thetutlage

[2019-07-09 19:42] thetutlage commented on #216
The newer release build files are not minified https://github.com/poppinss/indicative/releases/tag/v7.2.0

[2019-07-09 19:42] #216 closed, assigned to nobody

[2019-07-09 19:42] thetutlage commented on #213
Released https://github.com/poppinss/indicative/releases/tag/v7.2.0. Feel free to open a new issue if someone is interested in adding browser support. I am short on time, sorry :(

[2019-07-09 19:42] #213 closed, assigned to nobody

[2019-07-09 19:42] thetutlage commented on #207
Fixed in newer release https://github.com/poppinss/indicative/releases/tag/v7.2.0

[2019-07-09 19:42] #207 closed, assigned to nobody

[2019-07-13 09:35] jean-smaug opened #244 "TypeError: isObject is not a function"
👋 I'm just trying the hello world in a Vue.js app and i get this error.
I didn't find any informations in issues or on your forum :/

[code]

## Package version
7.2.0

## Node.js and npm version
Node : 10.16.0
Yarn : 1.16.0

## Sample Code (to reproduce the issue)

[code]

[2019-07-15 10:40] ardyfeb opened #245 "Custom message for array validation"
How to set custom message for array validation ?, i have trying like below code but message still showing `required validation variant.0.value failed`

## Package version
5.0.8

## Node.js and npm version
latest

## Sample Code (to reproduce the issue)

[code]

[2019-07-15 10:43] thetutlage commented on #245
Shouldn't it be `variant.0.value.required`?

[2019-07-15 10:44] thetutlage commented on #244
Hello 👋. Indicative is written for Node.js

[2019-07-15 10:46] ardyfeb commented on #245
i edited my issue, actually is `variant` i typo when writing issue

[2019-07-15 10:49] ardyfeb commented on #245
![Screenshot from 2019-07-15 17-48-36](https://user-images.githubusercontent.com/30074366/61211099-c8bef900-a728-11e9-84ee-5bc07e87e30f.png)
here a complete rules and  message

[2019-07-15 10:49] thetutlage commented on #245
Works fine for me with this code sample.

[code]

[2019-07-15 10:51] thetutlage commented on #245
Here's the live example https://repl.it/@amanvirk/Indicative-example

[2019-07-15 11:26] ardyfeb commented on #245
thanks for your help, solved by upgrading from `5.0.8` to `7.2.0`

[2019-07-15 11:26] #245 closed, assigned to thetutlage

[2019-07-15 11:32] jean-smaug commented on #244
😮
![image](https://user-images.githubusercontent.com/22884251/61213303-f003cf00-a704-11e9-88aa-68f2b4de60ce.png)

[2019-07-15 16:05] thetutlage commented on #244
Hahah! My bad, used the old banner, will fix

[2019-07-15 16:29] webNeat commented on #244
Hello @thetutlage
I see that this error comes from the `indicative-compiler` due to the way it imports the `isobject` package.
Can I make a PR if I can fix it for the browser? it would really be awesome if this library can be used on the client side :)

[2019-07-15 17:16] thetutlage commented on #244
@webNeat I believe, it's more than fixing one or two odd errors. I am happy to receive contributions, if someone can own the browser side of things. Which may include

1. Making sure all packages works fine with browser (with test cases)
2. Monitoring package size.
3. Making `indicative-rules` work with tree shaking

[2019-07-16 07:29] mathieutu commented on #244
Yeah, running into this issue too, and was planning to use Indicative to handle automatic front validation from the rules I have in Laravel, so I really really think that it should be a great idea to allow Indicative to run on browser!

[2019-07-16 07:45] thetutlage commented on #244
Happy to accept contributions

[2019-07-19 08:17] soubhikchatterjee opened #247 "Try Catch not supported for validate method?"
Hi There,

Looks like try catching the `validate()` method returns an UnhandledPromiseRejectionWarning.

[code]

Results:
[code]

Demo: https://repl.it/repls/IroncladCleanNetworking

Any workaround?

Thanks

[2019-07-19 12:19] thetutlage commented on #247
You have use `await` on the `validate` method, since it returns a promise

[2019-07-21 03:44] #247 closed, assigned to nobody

[2019-07-23 20:51] woodgates opened #249 "message: "lowerCase is not a sanitization method""
I'm getting the following error when trying to use lower_case sanitization in my adonisjs validator:
message: "lowerCase is not a sanitization method"
name: "Error"
status: 500

## Package version
5.0.6

## Node.js and npm version

## Sample Code (to reproduce the issue)
adonisjs Update Validator:
OfferUpdate.js
class OfferUpdate {

  get sanitizationRules () {
    return {
      summary: 'strip_t

[2019-07-24 13:45] iowayfarer commented on #244
Just an FYI, if you're using Webpack for nodejs stuff (lambda in my case) then this issue also comes up.

[2019-07-31 14:38] LordZombi commented on #146
solution?

[2019-08-12 17:34] parker-codes commented on #244
I just ran into this as well thinking that it was for browsers as well. I understand the extra work to support browsers, but still hopeful.

[2019-08-19 13:14] olaoluwa-98 opened #250 "Support for stopping validation on first error per field"
For instance, if you have the following rules:
[code]
You may want the validation for `email` to stop on first error but continue to validate other fields such as `phone_no` and `password` which also will stop on first error of any rule item. I believe this feature will allow you to save time spent validating each item of a single rule.

`validateAll` continues to validate all fields including all

[2019-08-21 16:25] TayyebaShoaib commented on #244
Is there any fix for this? Should I use the older version of the library?

[2019-08-22 02:56] thetutlage commented on #244
Use the old version, as this version is not meant for browsers

[2019-08-22 02:56] #244 closed, assigned to thetutlage

[2019-08-22 09:01] thetutlage commented on #250
Hello @olaoluwa-98

Yeah, will be nice to have such a feature. Couple of questions?

1. What should be the name of property? Since `validateAll` is reserved, what should we call it?
2. Can you start working on the PR and just ping me, if you get stuck somewhere?

[2019-08-23 07:58] olaoluwa-98 commented on #250
Hello @thetutlage, sorry for the late response.

I'm not sure what name can go with it. But I suggest that we accept an option on the `validateAll` or `validate` that will allow this feature. e.g In `validate(data, rules, messages, options)`, the options object will accept the option for.
I'll start working on the PR.

[2019-09-01 08:55] yshelomentsev opened #251 "Closure messages in validation not work correctly"
Hi, indicative has feature like closures in messages, but it fails if closures count is more than 1.

Example of **correct** work (code throws _"Field «lead_id» must be filled"_):
[code]

Example of **bug** (code throws default _"required validation failed on lead_id"_ instead of _"Field «lead_id» must be filled"_):
[code]

It bugs and with closure and with micro templating.

[2019-09-02 05:31] thetutlage commented on #251
Yup looks like a bug. I’ll look into it

[2019-09-02 09:49] thetutlage commented on #251
Fixed in `7.2.1`

[2019-09-02 09:49] #251 closed, assigned to thetutlage

[2019-09-06 13:08] ozziest commented on #32
I think that we need that feature and also negative rule.

For example;

[code]

They can be very cool features. What do you think, @thetutlage?

[2019-09-22 18:20] olaoluwa-98 commented on #249
@thetutlage I am also getting this error

[2019-09-23 05:57] thetutlage commented on #249
@olaoluwa-98 Can you share which version of Indicative you are using? Also `5.0.6` doesn't have this sanitization rule. Here's the docs to the older version https://indicative-v5.adonisjs.com/

[2019-09-23 16:02] olaoluwa-98 commented on #249
I am using `@adonisjs/validator` version `5.0.6` which has `indicative version 5.0.8` as a dependency

[2019-09-24 05:13] thetutlage commented on #249
Yup, so as said, the `lowerCase` sanitization is part of the newer version, not the one AdonisJs is using.

[2019-09-24 05:13] #249 closed, assigned to thetutlage

[2019-10-16 21:06] pdinius opened #252 "Array of strings within a nested object fails validation"
This may be related to supporting (or not supporting) nested arrays but I wanted to validate/sanitize an object with a structure like this:

[code]

I would have thought from what I see in the documentation that it could be done like this:

[code]

But that returns an error, `alpha validation failed on super.sub.0.super.::tip::`. If the array is at the top of level and not within a nested object,

[2019-10-17 01:24] thetutlage commented on #252
Yup, looks like a clear bug, will fix it :)

[2019-10-17 07:36] thetutlage commented on #252
Actual bug fixed in https://github.com/poppinss/indicative-compiler/commit/ff4541db7352efa5a5c2c38795ad46eb61030622

[2019-10-17 07:43] thetutlage commented on #252
Should be good with `7.2.2`

[2019-10-17 07:43] #252 closed, assigned to thetutlage

[2019-10-17 13:18] pdinius commented on #252
Awesome, thanks!

[2019-11-29 12:24] LukasChiama commented on #226
This does not work when timezone is added

[2019-12-13 17:07] MarcosGin commented on #195
Hi, I'm using Adonis.js, and I'm having the same problem, any news about this?

[2019-12-17 14:58] Mauricio-Arantes commented on #205
that's my same question and unfortunately this link is no longer working, now, is this: https://indicative.adonisjs.com/validations/master/same

but, don't answer the question how to do a unique rule

[2020-01-20 13:58] McSneaky opened #253 "Fail validation when no data is proved at all"
In Indicative version 7.4.4 validation is passing when there is no data to validate and schema contains multiple required fields.

Example code:
[code]

Then calling it with `await validate()` will always pass

Workaround is to manually check if data exists or not
[code]

Maybe could make it as default that it fails or if not default, then perhaps some option like `allowEmpty` that is set to true

[2020-03-20 03:29] rzel opened #254 "{{ argument.0 }} is returning empty"
[code]

Is returning "title must be at least characters" or "title cannot be more than characters" when validation is run. The {{ argument.0 }} part isn't showing up.

[2020-04-01 13:39] smk005 opened #255 "Cannot read property 'existyStrict' of undefined"
## Prerequisites
Hi Team, I am getting the following issue as shown below for extend sample.

[
  {
    message: "Cannot read property 'existyStrict' of undefined",
    validation: 'ENGINE_EXCEPTION',
    field: 'start_time'
  }
]
How can I fix. Please help. Thank you in advance for your support. Really very awesome and helpful validation library.

## Package version
v7.4.4

## Node.js and npm ver

[2020-04-07 19:13] antonioOrtiz opened #256 "Using Regex for email validation"
Thank you for such a awesome project! It's very elegant!

## Package version
"indicative": "^7.4.4",

## Node.js and npm version
v13.12.0

At first I used the `email` rule but noticed a bug where the validation would stop (causing my message to disappear) when reaching the `@` symbol, So the user could conceivably enter something like `foo@gmail`, so I figured why not use a regex; With the Regex t

[2020-04-10 08:42] grenderit opened #257 "Can I disable the nested validation?"
Unfortunately my keys contains dot characters, but this is not a nested object.
So the library try to check the nested value but there is no nesting.

Example object:
[code]

I know this is a very edge-case situation, but I think the implementation is simple.

[2020-04-12 15:04] LeCoupa opened #258 "Error in documentation"
There is an issue on this page:

https://indicative-v5.adonisjs.com/docs/requiredwithoutany

Should it be?

[2020-04-15 02:04] thetutlage commented on #258
Mind sending a PR?

[2020-04-15 11:09] LeCoupa commented on #258
@thetutlage I tried, but I don't know where the file is for indicative-v5. I always stumble upon this one (which is correct).

https://github.com/poppinss/indicative.adonisjs.com/blob/master/docs/validations/existence/requiredWithoutAny.md

[2020-05-04 06:20] soubhikchatterjee opened #259 "Regex vaidation expect to end with $"
## Package version
7.2.1

## Node.js and npm version
Node: v12.4.0
npm: 6.13.7

## Sample Code (to reproduce the issue)
Following code works:
[code]

Following code does NOT work:
[code]

https://indicative.adonisjs.com/validations/master/regex
The regex expects to end with $, otherwise it doesn't work

[2020-05-04 06:25] thetutlage commented on #259
Can you share the inputs against which the regex are tested along with the expected behavior and the actual behavior

[2020-05-15 09:40] soubhikchatterjee opened #260 "Nested field does not respect validation rules"
There are 2 scenarios (Example2 and Example 3) in the code below where I  expect the validator to behave in a certain way but it doesn't.

For eg,

- in Example 2, i expect the validation to fail but it doesn't (since i am using true instead of 1)
- in example 3, I expect it to fail, but it does not as I am using nested fields.

Can you please check and let me know if I am missing something?

## P

[2020-05-15 10:58] soubhikchatterjee commented on #259
Kindly check the code i shared https://codesandbox.io/s/laughing-snow-py2h8?file=/src/index.js

There are two examples, example 1 works, example 2 does not work as expected.

[2020-06-08 04:44] soubhikchatterjee commented on #259
@thetutlage Did you get a chance to look into the code samples?

Thanks

[2020-06-08 04:44] soubhikchatterjee commented on #260
@thetutlage Did you get a chance to look into the code samples?

Thanks

[2020-07-13 16:52] juanvillegas commented on #247
And lint your code...

[2020-07-24 20:02] juanvillegas opened #261 "Validation failed for dates with a timezone including a + (eg +02:00)"
## Package version
^7.4.4

## Node.js and npm version
12.14.1
6.14.2

## Sample Code (to reproduce the issue)
Trying to validate a date using the `date` rule and feeding ISO8601-valid strings in the following style:
2020-07-24T21:42:04+02:00
2020-07-24T21:42:04-02:00

When we include a positive offset (eg +02:00, +04:00), it doesn't work and displays the error below:

```date validation failed on

[2020-07-24 20:13] juanvillegas commented on #261
btw, I have also tried using the `dateFormat` rule with the following format: `YYYY-MM-DDTHH:mm:ssZ` and I got the same results: it doesn't accept positive offsets.

[2020-07-24 20:21] #261 closed, assigned to nobody

[2020-10-29 12:58] jadeOnProg opened #262 "Need to validated empty object if empty goes to fail"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

## Consider an RFC

Please create an [RFC](https://github.com/adonisjs/rfcs) instead, if

- Feature introduces a breaking change
- Demands lots of time and changes in the current code base.

*Delete the above section and the instructions in the section

[2020-10-29 19:11] #262 closed, assigned to nobody

[2021-01-19 17:18] soubhikchatterjee opened #263 "Field required but can accept empty string"
Is it possible to validate a field to make the key mandatory but allow empty string in it?

The `required` validation does check for the existence of a key but does not allow empty values.

Am i missing something here?

Thanks in advance.

[2021-01-25 01:03] radiumrasheed commented on #195
Anyone else found a workaround for this?

[2021-01-31 02:31] #258 closed, assigned to nobody

[2021-03-22 03:13] davidpmtz opened #264 "Is this a project died?"
Or is there another version or another GREAT alternative?

[2021-03-22 04:31] thetutlage commented on #264
Not maintaining it anymore. Alternatives are something you will have to search yourself

[2021-03-22 04:31] #264 closed, assigned to thetutlage

[2021-04-28 21:49] antonioOrtiz opened #265 "Ignoring Regex to not allowing one of multiple spaces"
## Package version
    "indicative": "^7.4.4",

## Node.js and npm version
    v14.16.0,  6.14.11

## Sample Code (to reproduce the issue)
    validations.regex([new RegExp('^([a-zA-Z0-9_])+$')]),
    validations.regex([new RegExp('^\\S+$')])

So in my textarea which I'm validating, this will fire a error

    "Foo Bar".  /* entering a string with a space

But this:

    "    "    /* just four spa

[2021-05-14 14:01] ghost commented on #256
This is still an issue

[2021-05-14 16:04] RomainLanz commented on #256
Hey @FunbiOyede! 👋

It is tough to validate an email, you may not know it, but `test@ch` is a valid email address.
The only rule to have a valid address is to have `@` inside it.

[2021-05-16 14:00] ghost commented on #256
Yes, @RomainLanz I totally understand what you mean. But I wanted more rules to be involved in the email validation.

[2021-05-27 02:35] soubhikchatterjee commented on #264
This is a sad news for me. I use indicative almost in all of my projects. Its sad to see such a great library unmaintained.

[2021-07-01 17:57] wkrueger opened #266 "When a property is cast, the source object is mutated."
## Why this feature is required (specific use-cases will be appreciated)?

One of the main reasons (I believe) of indicative's schema format is that it is serializable. So, the same validation schema can be used on the backend, and in frontend forms.

If this lib is expected to be used on frontend, it is also expected to be used with React, and react expects objects not to be mutated.

[code]

I'd

[2021-09-06 15:21] JannieT commented on #263
For example Laravel has a `present` rule for this scenario that is very useful: https://laravel.com/docs/8.x/validation#rule-present

[2021-12-23 12:51] dev-sm-new opened #267 "npm audit report with Severity: moderate validator <=13.6.0 Inefficient Regular Expression Complexity in validator.js"
## Prerequisites
Showing vulnerabilities while package installation. Please fix.
# npm audit report

validator  <=13.6.0
Severity: moderate
Inefficient Regular Expression Complexity in validator.js - https://github.com/advisories/GHSA-qgmg-gppg-76g5
 Inefficient Regular Expression Complexity in Validator.js - https://github.com/advisories/GHSA-xx4c-jj58-r7x6
fix available via `npm audit fix`
node_